[2018-01-23 16:46] rbitia opened #104 "[Azure] authorization failed issue"
2018/01/23 01:25:25 api call to https://management.azure.com/subscriptions/resourceGroups/akscentralusrg/providers/Microsoft.ContainerInstance/containerGroups?api-version=2017-12-01-preview: got HTTP response status code 403 error code "AuthorizationFailed": The client 'with object id ' does not have authorization to perform action 'Microsoft.ContainerInstance/containerGroups/read' over scope '/su

[2018-09-19 18:14] rbitia opened #105 "[Azure] OMS ContainerInventory"
We need to populate the ACI image, tag, start time and finish time.

[2018-11-21 14:01] faniereynders opened #106 "Unable to re-produce steps on README for ACI"
According to the [README](https://github.com/virtual-kubelet/virtual-kubelet/blob/master/providers/azure/README.md#schedule-a-pod-in-aci), I should be able to schedule pods to virtual-kubelet nodes on my AKS cluster, but it is not working as I am getting the following error:

---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper): ACI

Version (e.g. 0.1, 0.2-beta): no clue

K8s Mast

[2018-12-06 06:39] AceHack opened #107 "ACI pods missing from Connected devices in vnet"
When I look at my vnet in the Azure Portal I don't see any of the ACI pods under Connected devices.

[2018-12-18 21:31] xinyanmsft opened #108 "Detailed events such as when the image is being pulled, and when the container is started are missing"
Provider (e.g. ACI, AWS Fargate, Hyper)  ACI
Version (e.g. 0.1, 0.2-beta)  Current
K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)   AKS
Install Method (e.g. Helm Chart, ) Helm (via AKS)

Right now, running ‘kubectl events’ doesn't give me a lot of useful information, as compare to regular Kubernetes nodes. Detailed events such as when the image is being pulled, and when the container is started

[2019-01-21 00:27] bdfrost opened #109 "Error: YAML parse error on virtual-kubelet/templates/deployment.yaml: error converting YAML to JSON: yaml: control characters are not allowed"
---

### Environment summary

Provider: Azure ACI

Version: latest

K8s Master Info: Azure AKS

Install Method: Helm, Chart

### Issue Details
When I follow the instructions, I get the error below ("Error: YAML parse error on virtual-kubelet/templates/deployment.yaml: error converting YAML to JSON: yaml: control characters are not allowed")

I see that virtual-kubelet-latest.tgz is a broken tar as

[2019-01-24 15:22] byrneo opened #110 "ACI - VNET "subnet CIDR defined but no subnet name""
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
ACI

Version (e.g. 0.1, 0.2-beta)
Latest (as of Jan 24, 2019)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
upstream k8s running on-prem (vpn to azure vpn gateway)

Install Method (e.g. Helm Chart, )
Helm 0.5

### Issue Details
Deploying the helm chart with VNET set to enabled and specifying subnet/cidr details, results in t

[2019-02-04 16:54] thiagomancuzo opened #111 "Virtual Node pods can't down-scaling"
---
Provider: ACI
Version (e.g. 0.1, 0.2-beta): latest
K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS): AKS
Install Method (e.g. Helm Chart, ): both Helm Chart and enable-extension

### Issue Details
After enable virtual node with the proper newtork configuration (vnet / subnet) and scale that pods, the new pods are scheduled up at virtual node. But i'm having two problems:

1. Pods on the virtua

[2019-02-21 14:50] patnaikshekhar opened #113 "Can't mount config map to Virtual Kubelet"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
ACI

Version (e.g. 0.1, 0.2-beta)
 v1.13.1-vk-v0.7.4-44

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS

Install Method (e.g. Helm Chart, )
kubectl apply

### Issue Details
When trying to mount a config map to a Pod in a virtual kubelet the provisioning fails with the error "ProviderFailed". Running a describe or logs on t

[2019-03-06 14:55] prochnowc opened #100 "ACI VNet with Windows Containers"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate): Azure
Version (e.g. 0.1, 0.2-beta) : 0.5.0
Install Method (e.g. Helm Chart, ): Helm Chart

### Issue Details

Virtual windows nodes cannot use a VNet.

When I deploy a windows container with configured ACI VNet I receive the following error in the log output of the virtual-kubelet pod:

`Network profile is not supported before version

[2019-03-14 19:36] dylanjohnsonsfo opened #114 "Istio Sidecar error - "SecretVolumesNotSupportedOnWindows""
---

### Environment summary

Provider (Azure)

### Issue Details

The istio sidecar will not start even with ```automountServiceAccountToken: false``` added to the istio-sidecar-injector spec.

Error = "SecretVolumesNotSupportedOnWindows"

### Repo Steps

[2019-03-16 22:16] radu-matei opened #117 "Incomplete logs fom VK pods with Azure provider"
I'm running VK with the Azure provider and consistently see only the last few lines from the logs, making my particular use case unusable:

From Kubernetes:

[code]

From the Azure portal:

[code]

Is there a way I can get the complete logs?
Thanks!

Provider: Azure
Version: v1.13.1-vk-v0.7.4-44-g4f3bd20e-dev
K8s Master Info: AKS, v1.12.6
Install Method: Helm chart

[2019-05-01 17:18] weinong opened #116 "[Azure] VK should not depend on azure.json"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate)
Azure

Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)

Install Method (e.g. Helm Chart, )

### Issue Details
VK currently [references azure.json](https://github.com/virtual-kubelet/virtual-kubelet/blob/master/charts/virtual-kubelet-for-aks/templates/deployment.yaml#L63), this is a bad design.

### Repo S

[2019-05-16 16:31] srudin opened #115 "Can not connect to external net or other pods"
I have exactly followed the tutorial here: https://docs.microsoft.com/en-us/azure/aks/virtual-kubelet
Also the cluster setup was done according to the quickstart link in there.
I have then installed a container from the nanoserver image as shown in the example. It works and I can connect to eg. google.com from it, but not to any other internal service.
I then installed another container based on t

[2019-05-22 17:20] grahamhayes opened #99 "virtual-kubelet has different DNS resolution behaviour to standard kubelet"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate)
ACI
Version (e.g. 0.1, 0.2-beta)
0.9.0
K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS
Install Method (e.g. Helm Chart, )
All
### Issue Details
When creating a pod, I expect `/etc/resolv.conf` to be populated like a standard AKS kubelet (or plain upstream kubernetes).

By default, the search domain is left blank, and while it can

[2019-06-18 05:37] norshtein opened #3 "Add support for using MSI to authenticate"
Seems currently the virtual kubelet [can only use service principal to authenticate](https://github.com/virtual-kubelet/azure-aci/blob/20574686f4a23a4064640cd6053db85b658e1395/acsCredential.go#L13), can we support using MSI to authenticate?

[2019-06-19 16:45] grahamhayes opened #7 "Virtual Kublet should accept a pre-created networkProfile name"
virtual-kubelet creates a networkProfile for VNets used in a deployment. it should support accepting a pre-created profile, and use that if provided.

Always creating this profile causes issues when using tools like terraform which see extra state attached to VNets, and can cause issues when doing later operations.

[2019-06-19 21:42] anujgeek opened #118 "Cannot get prometheus to work AND cannot get autoscale to work if using pre-installed metrics-server instead of prometheus"
---

Issue also reported here: https://github.com/Azure-Samples/virtual-node-autoscale/issues/40

### Environment summary

Provider (e.g. ACI, AWS Fargate)
ACI

Version (e.g. 0.1, 0.2-beta)
Kubernetes: v1.13.5

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS

Install Method (e.g. Helm Chart, )
Helm chart

### Issue Details
Two issues here:
1. If I do a prometheus installation using the stable

[2019-06-24 10:00] victornoel opened #10 "Mixup between command and args in Pod resource description"
On an AKS cluster with virtual nodes enable, I created a Pod resource to be deployed on ACI, but it seems that if I specify `args` for it, ACI uses them as the whole command instead of appending to the entrypoint of the docker image (for the record, docker's `entrypoint` is kubernetes' `command`, and docker's `command` is kubernetes' `args`).

If I use a `command`, it works as expected.

Also when

[2019-06-27 12:30] grahamhayes commented on #10
This looks like a side effect of the ACI API - https://docs.microsoft.com/en-us/rest/api/container-instances/containergroups/createorupdate#container

It only has a "command" field, which overrides the entrypoint if set, so combined with https://github.com/virtual-kubelet/azure-aci/blob/master/aci.go#L1163 if the command is not set, this just passes the list of args, with no prefixed commands.

No

[2019-07-01 20:02] kiall commented on #10
Another alternative, which would still be an API breakage, would be to reject pods that contains args without command. However, this would be preferable to just executing the args without the command but obviously not as preferable as maintaining the K8S API compatibility.

[2019-07-02 06:33] victornoel commented on #10
@grahamhayes @kiall it would be best if compatibility with kubernetes normal behaviour is kept, it's going to be hell to maintain deployments as a op if not.
I don't believe it should be too hard to do exactly as @grahamhayes proposes:

[2019-07-10 17:01] cpuguy83 commented on #10
I do not think VK or even the ACI lib here should be inspecting the image like this.
I'm not sure how ACI's "Command" winds up as a container command, we need someone from ACI to dig into this.

ping @srrengar

[2019-07-11 10:38] grahamhayes commented on #10
I think @kiall 's suggestion of blocking the creation of pods with args + no command is probably a good short term solution, and when ACI updates its API (prefered), or decide not to, and the Azure VK plugin implements some sort of inspection (definitely not prefered), it can be unblocked.

[2019-07-16 20:44] #7 closed

[2019-07-16 20:57] cpuguy83 commented on #10
I'm wondering if it's worth blocking *if* things are obviously failing.
If we do that and ACI fixes their end we'll have to update here to not error out.

[2019-07-16 20:58] cpuguy83 commented on #10
So, is this failing safely already? If so then it seems ok to leave it, if it is not failing safely (or is not obvious that it's failed), then I agree we should patch.

[2019-07-17 07:17] victornoel commented on #10
@cpuguy83 from my user POV, it's not failing safely because I have no idea why this happened, there was no log nor clear error, and found a solution just by luck :)

[2019-07-17 08:56] kiall commented on #10
Right, the translation between the Pod manifest and what's actually run is incorrect, in certain circumstances a valid Pod spec will end up executing an unexpected command - the only insight you'll have into this is (hopefully!) a "no such file or directory" log inside the containers logs. In certain circumstances, it's possible that a valid but unexpected command will be found and executed.

To m

[2019-07-18 20:18] cpuguy83 commented on #10
Makes ense. Thanks!

[2019-08-08 22:21] smandava opened #12 "Readiness And Liveness Probes"
I can launch this Deployment Fine on Virtual Node in my AKS cluster:

[code]

But the pods fail to launch if I add Liveliness And Readiness Probe to my deployment.

[code]

Assuming the liveness and readiness probes are not supported [based on this documentation](https://github.com/virtual-kubelet/azure-aci/blame/master/README.md#L38), How does the virtual kublet know the health and readiness of t

[2019-08-22 07:13] Shuanglu opened #17 "Resources limits has to <= requests"
I used Virtual-node in AKS and found one issue if I specify the limits and requests. It seems the v-kube parse the 'requests' in my deployment yaml to the total limit of the container group which caused the "limit" has to be no more than the "request" value

[code]
it will result error below
[code]
Is this expected behavior? I didn't find any doc to explain it

[2019-08-26 23:01] Shuanglu commented on #17
Thanks for reply. Is this ACI specified or for all cloud-providers of v-kube? And may I know if it's possible to update the doc regarding these differences between normal pods and pods scheduled to v-node created by v-kube?

[2019-09-20 23:01] ptemmer opened #18 "support for initContainers"
It would be very nice if ACI supported initContainers, as many of the most basic deployments rely on initContainer(s) to work.

Also see https://github.com/Azure/AKS/issues/1155

[2019-10-01 13:49] luddskunk opened #119 "AKS and ACI reporting slow to metrics server. Need faster scale out than 5 min."
---

### Environment summary

Provider: **ACI**

Version: **v1.13.1-vk-v0.9.0-1**

K8s Master Info: **AKS**

Install Method: **Azure Portal**

### Issue Details

I have setup a new AKS cluster with Virtual Kubelet enabled. Then I perform a load test with the help of JMeter on my pods. Together with a HPA I succesfully autoscale pods onto ACI instances. However, I have noted that the metrics server

[2019-10-30 21:31] macolso commented on #18
Thanks for the suggestion! Good news - support for initContainers is already on our roadmap.

[2019-10-30 21:49] macolso commented on #12
You are correct in that liveness and readiness probes are not supported with the ACI Provider today. However, we have an item slated to support both probes in the future. Unfortunately in the meantime, that means Virtual Kubelet doesn't know anything about the health and readiness of the pod, which can lead to failed deployments.

[2019-10-30 21:50] macolso commented on #3
Currently we can only authenticate using service principals with Virtual Kubelet. We're working on bringing MSI support to ACI today. When that work lands, we'll work on integrating it with Virtual Kubelet as well.

[2019-12-09 17:45] alanjcastonguay commented on #12
Is there a roadmap plan to support pod liveness/readiness probes in VK+ACI? Any rough estimate?

[2019-12-11 21:51] eugen-nw opened #28 "The spec.template.spec.terminationGracePeriodSeconds: 3600 setting has no effect"
I'm adding the required registry settings,
[code]
And I'm catching in the code the CTRL_SHUTDOWN_EVENT (6) event and do a Thread.Sleep(3600) in response.

After 'kubectl delete pod', the containers stays alive for the default 30 seconds.

Is the problem in the VK or could this behavior be caused by AKS please?

[2019-12-17 21:23] macolso commented on #12
Early 2020 for liveness/readiness probe support

[2019-12-18 20:23] scabana opened #29 "Support for AzureUSGovernmentCloud"
Current implementation doesn't support us gov (https://github.com/virtual-kubelet/azure-aci/blob/c80d51a382a42db9da87b4207789a279a55ed90b/aci.go#L181-L183). Are there plans to support it? Container instances seems to be available in us gov now.

[2019-12-18 20:32] ibabou commented on #29
@scabana yeah, currently the support is only for public azure, but this was since ACI didn't support any. Let me add this to be tracked by our team, we should work on having this supported in near future (maybe by Jan-Feb time range). +@macolso

[2019-12-18 21:29] scabana commented on #29
@ibabou Thanks for the quick reply. In the mean time, do you think it's possible to set it up in a way to have ACI in PublicCloud and AKS in us gov?

[2019-12-19 22:17] eugen-nw opened #30 "It'd be nice to document that the secret expires after a year"
Or even better, to document how to update the certificate ;-)

I've noticed yesterday that the containers I deployed onto the Virtual Kubelet were going into the ProviderFailed STATUS, with an error message along the lines of "Sending create container group request failed: Put https://management.azure.com/subscriptions... AADSTS7000222: The provided client secret keys are expired..." error message

[2019-12-20 01:19] ibabou commented on #30
@eugen-nw thanks for reporting this! Is there a reason for not using addon ? it gets refreshed automatically by AKS team, as part of addons updates. in this case, you probably won't his this issue, in addition to having the auto updates. Add-on can be added/removed through az aks (enable/disable)-addons --addons virtual-node.

[2019-12-20 01:26] ibabou commented on #29
@scabana this probably won't work (at least in a non hacky way), unless modifications are made to VK impl. because now the ACI resources will need to land into a different subscription in public cloud. Today the subscription/resourcegroup/client_secret is all obtained from current AKS cluster. One way could be to create your own spec for deploying vk that mounts a config acting like azure.json but

[2019-12-20 07:18] ibabou commented on #28
@eugen-nw, so this actually not supported at all today on 2 levels:
1- VK package itself up till v1.1 (the current used by azure virtual kubelet) didn’t honor that. It simply calls a delete pod on provider and sets always 30 seconds. But this got updated in v1.2, so we should be able to utilize it in future. The other thing is that our provider don’t send any updates about pod after delete call, s

[2019-12-20 18:10] eugen-nw commented on #30
Thanks very much for the info!  I'm new to AKS & K8S, so I've never heard of any addons.  I'll install the virtual-node one.  Could someone please add this piece of information to the https://github.com/virtual-kubelet/azure-aci as chances are that this issue will trip someone else as well.

What do you mean with "having the auto updates", please?  What exactly will be updated automatically?

[2019-12-20 18:23] eugen-nw commented on #28
Thanks very much for having looked into this!  When will this issue be fixed please?  Our major customer is not pleased with the fact that some of their long running computations get killed midway through and need to be restarted on a different container.

[2019-12-20 18:28] eugen-nw commented on #30
I do not understand this very well.  I thought that the ACI connector pod is creating virtual nodes by delegating the running of the containers to the ACI instance.  Why do I need to configure the AKS instance as well to support virtual nodes please?

[2019-12-23 20:57] macolso commented on #30
Hey @eugen-nw! Thanks for the catch - we'll update the documentation here.

_What do you mean with "having the auto updates", please?_ Whenever we push new changes to the ACI provider, it gets automatically updates via the AKS Virtual Node add on. This includes new features, bug fixes, etc. It will also auto-refresh the certificate that went stale on you.

_Why do I need to configure the AKS insta

[2020-01-05 19:00] eugen-nw opened #32 "After scaling-down the containers, it happens sometimes that containers are left running in the ACI"
I've experienced this several times in the past, but unfortunately I have never noticed a pattern on how to repro the behavior.  'kubectl get pods' reports the same number of containers as the 'kubectl describe hpa' command (which is good), yet there are more of them running when I check the Container Instances service in the Azure Portal.

This is a fairly bad bug because people will end up payin

[2020-01-05 20:03] eugen-nw commented on #32
Another interesting scenario that may be related.  'kubectl get pods' shows the output below, while all those STATUS = NotFound containers are up and running in ACI.  'kubectl describe hpa' says that 4 containers are running, which matches the STATUS = Running.

![image](https://user-images.githubusercontent.com/15199814/71785313-e1f78280-2fb2-11ea-85bb-7fd9a6a6a386.png)

[2020-01-06 18:00] macolso commented on #32
Thanks for bringing this to our attention! I know you haven't been able to get a repo, but it sounds like you've only noticed this pattern after scaling down your VN pods?

@ibabou

[2020-01-06 18:10] ibabou commented on #32
@eugen-nw this was a bug that got fixed in the last release about a month ago. It was caused when VK attempts to delete the CG fails, and so it gives up leaving it running. the failures to delete were mostly happening because of throttling issues when talking to RP, which got handled better. Although, I see in the screenshot that you're using a windows connector. since this doesn't get deployed an

[2020-01-06 18:46] scabana commented on #32
Hello @ibabou ,

We have similar issues.

I tried getting 1.1.0.1, but docker tells me it doesn't exist. Seems like last version is 0.9.1? (Error response from daemon: manifest for microsoft/virtual-kubelet:1.1.0.1 not found: manifest unknown: manifest unknown.). Am I looking in the right place? (https://hub.docker.com/r/microsoft/virtual-kubelet/tags)

Thanks!

[2020-01-06 19:11] eugen-nw commented on #32
Thanks very much @ibabou!  I'm REALLY glad that the issue is fixed now!  Although @scabana could not find it yet :-(

How can I tell please what version of the ACI connector I'm using?  The `kubectl describe deployment aci-connector-windows-eastus-virtual-kubelet-for-aks` command tells me:

![image](https://user-images.githubusercontent.com/15199814/71841864-36fbcd00-3075-11ea-8891-9015086e2253.pn

[2020-01-07 00:28] eugen-nw commented on #32
@scabana any luck with upgrading your VK please?

[2020-01-07 00:37] ibabou commented on #32
@scabana the VK connector for ACI is not pushed to the docker hub repo anymore. please use the helm chart I shared to install it (it has the new ACR repo information, as well as a read-only creds to it).

[2020-01-07 17:34] eugen-nw commented on #32
Is there a release notes document anywhere that we can consult to see what fixes & features are in each new version?

[2020-01-07 18:53] macolso commented on #32
https://github.com/virtual-kubelet/azure-aci/releases

[2020-01-07 19:12] eugen-nw commented on #32
Thanks very much!

I have a question on the "helm install..." command @ibabou provided please: I'd guess that providers.azure.aciRegion would be the region in which the ACI is, right?  However, Azure portal provides only one ACI instance and that has no region information attached.  I'm kind of uneasy with the 'eastus' value provided as my AKS instance is in 'westus'.  I took a peek into the azure

[2020-01-07 20:55] eugen-nw commented on #32
The command line below created the new Deployment, a running Container that keeps failing and recreating itself (leaving the Failed ones) behind and no new virtual Node.  What is missing please?

helm install https://github.com/virtual-kubelet/azure-aci/raw/master/charts/virtual-kubelet-aci-for-aks.tgz --generate-name --set nodeOsType=Windows --set nodeName=aks-agentpool-42482945-0  --set provider

[2020-01-07 20:59] ibabou commented on #32
@eugen-nw the aciRegion is optional, if not passed the region of AKS cluster will be used. Regarding the helm chart, nodeName is the name of virtual node (you can't use one of existing nodes like aks-agentpool-42482945-0). In the case above for example, it'll be virtual-kubelet-aci-connector-eastus.
To delete from helm, use "helm list" and then copy the release name from there, and finally do a "h

[2020-01-07 21:16] eugen-nw commented on #32
Thanks very much!  The uninstall overdid things, it removed the virtual-node-aci-linux Node as well.

The command line below did not create a new Node either :-(  The Pod restarted already 3 times.

`helm install https://github.com/virtual-kubelet/azure-aci/raw/master/charts/virtual-kubelet-aci-for-aks.tgz --generate-name --set nodeOsType=Windows --set nodeName=virtual-kubelet-aci-connector-for-wi

[2020-01-07 21:29] ibabou commented on #32
Sure, no problem.

No the helm uninstall won't remove the old node. except if you did uninstall its release as well. @eugen-nw can you share the error, the logs from the failing pod ? I just tried now adding a node using the exact command to one of clusters using helm 3 and it worked fine.

Here is the trial:
ibabou@ibabou-ws-ubuntu:~/development/random$ helm install https://github.com/virtual-kub

[2020-01-07 21:46] eugen-nw commented on #32
Thanks very much again!  I did one more experiment, it still does not work.  I upgraded Helm today to 3.0.2  Please find attached the log file.  It has this piece of information about the deleted node: "Deleting node virtual-node-aci-linux because it does not exist in the cloud provider"  That came with AKS, I'm fairly certain that I did not delete it; I'll check the history of past commands.

[lo

[2020-01-07 21:58] eugen-nw commented on #32
Your command line is quite different from the one documented here: https://github.com/virtual-kubelet/azure-aci#manual-set-up  I'll try, maybe that sequence works.

[2020-01-07 22:41] eugen-nw commented on #32
I tried installing using the "combined" command line below.  The container still keeps restarting.  I stop spending time on this as there isn't anything more that I can do with my level of knowledge.  I'll let it produce logs for an hour and then attach the file.

$env:RELEASE_NAME="virtual-kubelet"
$env:VK_RELEASE="virtual-kubelet-aci-for-aks"
$env:MASTER_URI="https://eugen-aks-external-solver-ve

[2020-01-07 22:44] ibabou commented on #32
@eugen-nw Can you please try the command I pasted above as it is, without passing targetAKS or masterURI:
Here it is again:
'helm install https://github.com/virtual-kubelet/azure-aci/raw/master/charts/virtual-kubelet-aci-for-aks.tgz --generate-name --set nodeOsType=Windows --set nodeName=virtual-kubelet-aci-connector-for-windows --set image.name=virtual-kubelet --set image.tag=1.1.0.1 --set provid

[2020-01-07 22:55] eugen-nw commented on #32
Certainly.  There's no improvement, please see the image below.  Now I see 2 containers instead of one, in spite of the fact that I started with none.  @scabana would you be interested in giving this installation a try?

![image](https://user-images.githubusercontent.com/15199814/71936249-bd8bd980-315d-11ea-8fd7-dfa8a3669a38.png)

[2020-01-07 23:08] ibabou commented on #32
I see. So can you please share why the pods are failing, what is the error, do you see logs ?

[2020-01-07 23:12] eugen-nw commented on #32
I'll let the pod/virtual-kubelet-aci-for-aks-1578437981-virtual-kubelet-* pods to fail for an hour and attach the log then.  Maybe we'll find some useful information in the very condensed K8S logs.

[2020-01-07 23:24] eugen-nw commented on #32
Could this have anything to do with the K8S version?  Or with the fact that I upgraded today only Helm and not Tiller?

[2020-01-07 23:27] ibabou commented on #32
Helm 3 doesn't require tiller as far as I know. Regarding logs, I think you don't need to wait to get the actual logs of these failing pods or the errors/cause of failure while starting up the connector container, I wasn't mentioning about other k8s logs anyway.

[2020-01-07 23:32] eugen-nw commented on #32
The earlier log I generated using: kubectl get events --sort-by='{.lastTimestamp}'

To my knowledge that grabs the K8S logs, but I may be wrong.  I'm very new at this, K8S is very big and I use only a fraction of it.

[2020-01-08 00:07] ibabou commented on #32
can you try "kubectl logs name_of_pod" to capture the recent logs from that failing pod.

[2020-01-08 16:56] eugen-nw commented on #32
Thanks again very much, I did not know of that command!

I left yesterday for home and the ACI connector works now.  That's the good news.  What I do not like about it is that it restarted 15 times.  Its age is 17h, the virtual-kubelete-aci... is 16h old, so in the first hour it was doing nothing else than restarting and for some unknown reason it started working.

Since I have the repro that you

[2020-01-08 17:05] eugen-nw commented on #32
I would not worry about this error because I did not install yet any container to run on top of the ACI connector.

`level=error msg="failed to fetch the list of pods from the provider: Sending get container group list request failed: Get https://management.azure.com/subscriptions/d1151462-af84-4066-8ebc-62a4191a356e/resourceGroups/MC_eugen-prototypes-west-us_eugen-aks-external-solver-ver2_westus/

[2020-01-08 17:11] eugen-nw commented on #30
For my own education please: for what does the ACI connector use that certificate-type secret that expires after a year?

[2020-01-08 18:32] ibabou commented on #32
@eugen-nw
Thanks for sharing the logs!

The URL it tries to use to retrieve all CGs related to this VN seems correct to me, this cleanup operation in a on-time execution that happens at the beginning and it should succeed normally. the ACI resources needs to be under a ResourceGroup. If you browse in the portal to "/resource/subscriptions/d1151462-af84-4066-8ebc-62a4191a356e/resourceGroups/MC_euge

[2020-01-08 19:15] eugen-nw commented on #32
I see how it works, thanks very much for the clarification!  I walked through what you wrote and have noticed that the ACI connector labels the containers it creates with NodeName, which I suspect is the attribute you use to filter the dangling containers.  You wrote that

In order to fix the issue at hand, that cleanup needs to execute as well on a schedule, right?  No customer wants to pay for d

[2020-01-08 19:25] ibabou commented on #32
@eugen-nw that's great to hear :). glad to help!

You are right to some extend, however the purpose of having it on startup only was to handle the cases when the connector crashes or when being replaced -- in this case we might know what was the last incomplete operations that happened on CGs. But actually in v1.2 (upcoming release), I'll keep a cleanup job in the background to periodically do so,

[2020-01-08 19:27] #32 closed

[2020-01-08 19:35] eugen-nw commented on #32
If that's the current behavior, then the problem I raised when I opened this issue is not fixed yet :-(
The ongoing cleanup of dangling containers is important so customers do not pay for unused containers left over in ACI.  When is 1.2 going to be released please?

[2020-01-08 20:06] ibabou commented on #32
No, but the dangling happened in your case because you were running v0.9 where we had a bug preventing us from handling the deletion correctly. With v1.1, this got fixed. But what I mentioned is an additional guard to make us safe in future if any similar issues happened.

[2020-01-08 20:29] eugen-nw commented on #32
Thank you.  Let me test it for a day or two.

Do you happen to have a ballpark estimate for the 1.2 release date?

[2020-01-08 20:37] eugen-nw commented on #32
I noticed in the AKS instance -> Logs -> ContainerInstances -> ContainerLog table.  Would you like me to export yesterday's content to you?

[2020-01-09 17:29] macolso commented on #32
We're hoping to get 1.2 out this week! I'll let @ibabou get back to you about the logs

[2020-01-11 00:10] eugen-nw commented on #28
@ibabou  your answer 2. above implies that even if we'd use Linux containers running on virtual-node-aci-linux we'd run into the exact same problem.  I assume that virtual-node-aci-linux is the equivalent Linux ACI connector.  Are both of these 2 statements correct please?

[2020-01-11 00:19] ibabou commented on #28
@eugen-nw if you mean the graceful period and the wait on containers termination on ACI's side, yeah that's not currently supported to either Linux or Windows.

[2020-01-11 00:26] eugen-nw commented on #28
Thanks very much, that's what I was asking about.  That's very bad behavior on ACI's side.  Do they plan to fix it?

[2020-01-11 00:41] ibabou commented on #28
So our team owns both ACI service and AKS-VK integration. but I don't have an ETA about that feature. I'll let @dkkapur @macolso elaborate more.

[2020-01-13 07:30] ibabou opened #34 "Documentation needs to be updated"
Some updates are required for installation guidelines:
1- Update the helm chart used for manual installations.
2- Update the command to work with helm 3.
3- Add a comment clarifying that for AKS, manual installations is required only for Windows VNs. Stating that add-on is the preferred option otherwise. Windows support is still a beta/non-production state.
3- Adding a note that manual installatio

[2020-01-13 20:05] ibabou commented on #32
@eugen-nw 1.2.1 is [released](https://github.com/virtual-kubelet/azure-aci/releases/tag/v1.2.1) now, you can try installing it through same helm chart (tag=1.2.1).

[2020-01-13 22:44] dkkapur commented on #28
@eugen-nw indeed :( we're looking into fixing this in the coming months on ACI's side. Hope to have an update for you in terms of a concrete timeline shortly.

[2020-01-13 23:24] eugen-nw commented on #28
@dkkapur: THANKS VERY MUCH for planning to address this problem soon!  This is a major issue for our largest customer.

We scale our processing on demand, based on workload sent to containers through a Service Bus Queue.  There are two distinct types of processing: 1). under 2 minutes (the majority)  2). over 40 minutes (occurs now and then).  Whenever the AKS HPA scales down, it kills the contain

[2020-01-13 23:37] macolso commented on #28
Ya - I've been working on enabling graceful termination / lifecycle hooks for ACI. If you want to talk more about your use case, I'd love to set up some time - shoot me a piece of mail macolso@microsoft.com

[2020-01-14 03:35] eugen-nw commented on #32
Thanks very much guys!  I've installed it with this command line (I updated the --set image.tag to the current version:
`helm install https://github.com/virtual-kubelet/azure-aci/raw/master/charts/virtual-kubelet-aci-for-aks.tgz --generate-name --set nodeOsType=Windows --set nodeName=virtual-kubelet-aci-connector-for-windows --set image.name=virtual-kubelet --set image.tag=1.2.1 --set providers.az

[2020-01-15 16:39] eugen-nw commented on #32
@ibabou I'm very sorry to inform, but 1.2.1 generates in ACI one more container than what's in K8S :-(  I manually scaled the deployment that runs on the Virtual Kubelet to 3 instances and ACI shows four containers instead of 3.

This is the situation in K8S:
![image](https://user-images.githubusercontent.com/15199814/72452324-37315200-3772-11ea-9793-7137b87fae6c.png)

And this is what ACI shows:

[2020-01-15 16:42] eugen-nw commented on #32
Scaling up to 6 resulted in 7 containers in ACI and scaling down to 1 => 2 containers in ACI.  So the behavior is consistent.

[2020-01-16 22:14] eugen-nw opened #35 "How can I find out the connector's name?"
I have a completely rookie question please.  I installed the previous Windows ACI connector using the "az aks install-connector ..." command.  Now I try to remove it using the "az aks remove-connector ..." command but do not know what value to pass for the --connector-name parameter.

Thank you,  eugen

[2020-01-16 22:19] macolso commented on #35
```aci-connector```

[2020-01-16 22:19] macolso commented on #35
For reference: https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-remove-connector

[2020-01-16 22:23] eugen-nw commented on #35
Thanks very much @macolso!  Unfortunately, it does not seem to work.  It does not complain, but does not remove it either:

![image](https://user-images.githubusercontent.com/15199814/72567888-ab9bec00-386b-11ea-8c47-373652f3c6a8.png)

[2020-01-16 22:29] macolso commented on #35
Strange. Out of curiosity, when did you add the connector?

[2020-01-16 22:34] eugen-nw commented on #35
The aci-connector-windows-eastus-virtual-kubelet-for-aks-6b54777vg9 says that its age is 68d.  I remember that it was early Nov.

[2020-01-21 14:13] fisapras opened #36 "Multiple Node Pools on AKS - Virtual Kublet association."
If Virtual Kublet is enabled on AKS with multiple node pools, at the time of node scaling which node pool configuration is used to scale. Is it the default node pool configuration the one that gets created first when AKS resource is created?

Is there a way to configure Virtual Kubelet so that we can specify which node pool to use for scaling?

[2020-01-24 01:08] eugen-nw opened #37 "Random exceptions thrown in containers running within ACI"
I installed the ACI Connector 7 days ago into an AKS instance and today into another AKS instance.  Both times I used the command below.  I notice right now that my containers fail with AccessViolationException in an unmanaged DLL that we're launching.  The previous deployment work great with the exact same container bits.

`
helm install https://github.com/virtual-kubelet/azure-aci/raw/master/cha

[2020-01-24 05:38] ibabou commented on #37
@eugen-nw do you mean the containers of your pods is the ones that is failing ? VK connector just deploys these pods as CGs to ACI, so VK version won’t have any effect or relation in this case. You can check the CGs under MC_* resource group for your AKS cluster to see more details. What errors do you see ?

[2020-01-24 17:36] eugen-nw commented on #37
Thanks very much @ibabou for your prompt response!  You are correct, shortly after I posted this question I switched to installing the containers onto the previous VK Connector and they were failing there as well.

Which brings a more interesting question.  We run a .Net (classic) 4.5.2 Console application in the containers, which loads a C++ Win32 binary to do the calculations.  All failures occu

[2020-01-25 00:09] eugen-nw commented on #37
@ibabou I have the "some containers crashing" repro from yesterday going again.  Please let me know if you'd like to investigate it.  As I wrote earlier, the exact same bits crash in one container and run correctly in others.

[2020-01-25 00:11] eugen-nw commented on #37
I found what was causing the random behavior.  There were **60** dangling containers in ACI, in addition to the desired count of 7.  All containers were consuming incoming messages from the queue.  The data format changed across the various versions, the Win32 DLL was receiving some uninitialized pieces of data => the AccessViolationException instances.  I updated all ACI Connectors to version 1.2

[2020-01-25 00:16] #37 closed

[2020-01-25 00:23] ksauce commented on #12
Will this be ready in Feb?

[2020-01-27 22:27] ksauce opened #38 "horizontal pod autoscaler with ACI"
The Kubernetes horizontal pod autoscaler failed to get memory and cpu resources on the pods deployed to ACI.  Is this a supported feature?   If not how would we be able to control auto scaling?

hpa:
  {"apiVersion":"autoscaling/v2beta2","kind":"HorizontalPodAutoscaler"

Metrics:                                                  ( current / target )
  resource memory on pods  (as a percentage of re

[2020-01-28 14:05] scabana opened #39 "VK gets in error state after short amount of time"
Hi,

We've been having problems with the VK getting in a state where it doesn't schedule the pods for the deployments after a short amount of time.

Timeline:
- 2020-01-20: provision new aks cluster
- 2020-01-20: install VK virtualkubelet.azurecr.io/virtual-kubelet:1.2.1
- 2020-01-20: create a deployment that should be on ACI
- 2020-01-20: deployment's pods are scheduled by the VK, all is fine
- 2

[2020-01-28 14:15] scabana commented on #39
Additional information:

- Clarification: Trying to provision windows containers
- The VK was installed as if it was not on an aks cluster. Provisioning of the pods were working, but then stops working
- Re-installed the helm chart targetting `providers.azure.targetAKS=true` plus other parameters, now, I get this log:
[code]

[2020-01-28 18:35] ibabou commented on #39
@scabana, so VK integration for windows currently has many limitations:
1- byo-VNET isn't fully supported, as well as using special DNS configuration (which VK uses internally in case of VNET to set the dns nameserver). So please when installing through helm, pass the following "--set providers.azure.vnet.enabled=false --set providers.azure.vnet.subnetName= ".
2- Currently metrics is not supported

[2020-01-28 19:16] ibabou commented on #38
@ksauce Can you please share more information on the VN setup you have, Is it Linux ? and is it installed through Add-on or is it through a custom/Helm installation ? Also, what is the region/rg used by your AKS cluster ?

[2020-01-28 19:17] ibabou commented on #38
@ksauce , it'll be helpful if you can share the VK pod's spec -- especially the virtual-kubelet container itself.

[2020-01-28 19:25] ksauce commented on #38
Linux
Installed via virtual add on:   https://docs.microsoft.com/en-us/azure/aks/virtual-nodes-cli
Region: West US

kubectl describe pods aci-connector-linux-westus-virtual-kubelet-for-aks-665c446prblh

Name:           aci-connector-linux-westus-virtual-kubelet-for-aks-665c446prblh
Namespace:      default
Priority:       0
Node:           aks-nodepool1-13385978-vmss000006/10.240.0.4
Start Time:

[2020-01-28 19:52] ibabou commented on #38
Thanks @ksauce for the update! So the messages you shared above can normally happen till the pod gets up on ACI side. Now, to confirm about that, can you share the list of pods created by your deployment and its current state ? and double check the logs of connector to see if you still continuously seeing the error ?

Metrics are supported for Linux VNs. One other case when you might see these err

[2020-01-28 20:01] scabana commented on #39
@ibabou
1- ok! that's what I ended up doing
2- Good to know those errors are expected! As for the HPA, we didn't have one configured for that specific deployment.

On the 20th, manual scale in and scale out worked. It works for a small while and then does nothing for scale out. I would really like to see the pattern as to when it stops working.

[2020-01-28 20:32] ibabou commented on #39
Can you please elaborate on works for small ? So when you start creating larger number of replicas, the pods created go in Failed pending state ? What was the size of replicaset when you saw it failing ?

[2020-01-28 20:34] ksauce commented on #38
kubectl get pods
NAME                                                              READY   STATUS    RESTARTS   AGE
aci-connector-linux-westus-virtual-kubelet-for-aks-665c446prblh   1/1     Running   0
pagecompositionservice-76dc6bc47d-2w5ws                           3/3     Running   0
pagecompositionservice-76dc6bc47d-hr6jt                           3/3     Running   1

I set the HPA to scale up

[2020-01-28 20:39] scabana commented on #39
It works for a few hours/days then stops working. It doesn't seem related to the number of replicas. We tried with 100 replicas, worked well. Came back a day later, wouldn't work anymore.

Would opening a support ticket on the azure portal help? We could(maybe) then connect directly.

[2020-01-28 21:02] ibabou commented on #38
@ksauce Do you see any scale-up events ? Are you using kubectl top command to monitor the cpu utilization of these replicas ? Can you please share the output ?. I'm afraid in this case the scaling is not happening at all.

One thing to mention as a side, can you please use the add-on command to add the VN to your cluster ?
az aks enable-addons \
    --resource-group <your resource group> \
    --n

[2020-01-28 21:16] ksauce commented on #38
yes I have the virtual-node add on for the cluster.  AKS cluster is advanced Networking type.  No the top nodes does not report any metrics.

![image](https://user-images.githubusercontent.com/21204007/73306140-6dd68600-41d0-11ea-8db3-baf7944ec04c.png)

[2020-01-28 21:29] ksauce commented on #38
Why do I have a virtual-node-aci and virtual-kubelet-aci-connector in the cluster?  Which should I be using?

![image](https://user-images.githubusercontent.com/21204007/73306811-d07c5180-41d1-11ea-87b6-25257778d6d9.png)

![image](https://user-images.githubusercontent.com/21204007/73306909-01f51d00-41d2-11ea-92ac-8a71167301c0.png)

[2020-01-28 22:06] ksauce commented on #38
and removing and enable az aks enable-addons
--resource-group
--name
--addons virtual-node
--subnet-name virtual-node-aci

installs the virtual-node-aci-linux.  This results in my pods terminated and restarting.  Where are the  logs to find out why it restarted the pods ?

[2020-01-29 00:36] ibabou commented on #38
@ksauce It'll be hard to debug having both deployed. I think the old one maybe exists from a previous manual deployment when you used the deprecated clis. I'm talking here about virtual-kubelet-aci-connector-linux-westus node.
To remove it, you can simply use "helm list" to find its corresponding release and then do a "helm uninstall release_name". this should remove the virtual-kubelet-aci-connec

[2020-01-29 00:38] macolso commented on #38
Just as a heads up for feature reference - we don't support sending logs to log analytics for pods spun out by virtual node @ksauce. We do have plans to incorporate in the first half of 2020.

[2020-01-29 03:10] ibabou commented on #39
@scabana Sounds good, please open a ticket for further investigation.

But I still would like to get more context about the behavior you stated above:
1- you mentioned scaling out the existing deployment you had earlier — which was successful, didn’t work out.
2- then scaling-down worked, but again scaling-out back didn’t work out.

Can you share with me what was the pods state in these cases ? Di

[2020-01-29 16:18] ksauce commented on #38
So with the older version of the virtual-kubelet-aci-connector-linux-westus there were no restarts.  My pods were running fine.  Running with the v1.14.3-vk-azure-aci-v1.2.1 , they have restarted 287 times .  As mentioned there are no logs so I wouldn't know what is happening.

[2020-01-31 18:12] ksauce commented on #38
Errors from the connector:

level=error msg="failed to retrieve pod xxxxxx status from provider

Sending get container gr
oup request failed: Get https://management.azure.com/subscriptions/xxxxxxx?api-version=2018-10-01: stream error: stream ID 65; CA
NCEL" method=PodsTracker.processPodUpdates node=virtual-node-aci-linux operatingSystem=Linux provider=azure watchedNamespace=

[2020-01-31 19:43] ibabou commented on #38
@ksauce this log is fine, in some cases after the VK issues a delete to CG (if it got deleted from api-server and so marked to be deleted "Terminating" state), this monitor remains trying to see if it is still available on ACI side.

I see now that all deployments after 29th are coming through add-on only. which is good.

Can you please share the full logs of connector (of add-on's connector) -- a

[2020-01-31 22:00] ibabou commented on #38
Following up with @ksauce offline. seems restarts are not happening on latest AKS + VN without vnets. Closing for now.

[2020-01-31 22:00] #38 closed

[2020-02-19 13:28] scabana commented on #39
Opened a ticket, with a reference to this issue. Sorry for the delay.

I also created a new cluster with minimal resources in order to repro the issue. It did the same.

Scaling out the deployment works, but the pods stays pending until the VK connector gets restarted. So: "Pending state forever" is right.

I'd rather not share cluster name on here, is there a private way I can do that?

[2020-02-19 16:06] macolso commented on #39
Hi Scabana - you can email myself and Ibrahim at macolso@micrsoft.com; ibabou@microsoft.com

[2020-03-13 19:56] ibabou commented on #36
@fisapras Sorry for the delayed response. Can you please clarify more about the scenario you're trying to achieve ?

VN works independently of agentpools that is actual VM resources representing the worker nodes. If a pod has tolerations to run on VN, then scheduler can pick VN and assign to it -- then the pod will be deployed on an external Serverless provider. On the other hand, the cluster auto

[2020-03-13 20:21] #29 closed

[2020-03-14 21:51] zodraz commented on #12
ETA for this feature?

[2020-03-23 11:06] matthew-horrocks opened #42 "pod stuck in Waiting state"
Hi,

I'm having an issue where pods are sitting in a Waiting state for a very long time.

I opened a case with Azure support over the weekend, but wondered if it ought to be handled here also.

Here's a simple helloworld deployment and the results of a `describe pod`. Out of these 5 pods, 2 are still in a waiting state.

Possibly realted to #39 ?

[code]

[code]

[code]

[2020-03-23 11:18] matthew-horrocks commented on #42
15 minutes later and they're still in a Waiting state;

[code]

[2020-03-23 11:50] scabana commented on #29
Hi, thanks a lot! This will be helpful.

[2020-03-23 11:59] scabana commented on #42
Hey!

We currently don't use linux aci containers. I think your case is different. On our side, when the VK connector has just been started, pods gets scheduled right. One thing you could do is validate that the container instances are created or not in the portal. If they are created but in error, that could help you out.

[2020-04-20 16:52] TheDruidsKeeper opened #43 "Unable to install virtual-kubelet on kubernetes version 1.16"
Trying to install the virtual kubelet (using azure cli version 2.3.1 & kubernetes version 1.16.7):
`az aks install-connector --resource-group group --name cluster --connector-name virtual-kubelet --os-type Windows`

Gives the following error:

[2020-04-20 17:01] TheDruidsKeeper commented on #43
I'm guessing it's because of the deprecated api's being removed in 1.16: https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/

[2020-04-20 17:23] macolso commented on #43
Hi @TheDruidsKeeper ~ the ```az aks install-connector``` command will deprecated in the coming month. For the most up-to-date Virtual Kubelet experience on AKS, we recommend Helm chart installation. If you a more managed Virtual Kubelet experience on AKS, we recommend Virtual Node (currently only available for Linux OS).

[2020-04-20 17:23] #43 closed

[2020-04-24 19:31] sledoux opened #44 "The deployment uses a deprecated apiversion for kubernetes 1.16"
We recently upgraded our cluster and we're using this:

https://github.com/virtual-kubelet/azure-aci/raw/master/charts/virtual-kubelet-aci-for-aks.tgz

When deploying this to AKS version 1.16.7 we cannot use kubernetes deployments with api version v1beta1 anymore. This seems to still be referencing it. This needs to be "apps/v1" from kubernetes 1,16 an on.

Error: unable to build kubernetes object

[2020-05-13 10:27] AlexeyRaga commented on #28
Bumping into the same issue with the auto scaler.

![image](https://user-images.githubusercontent.com/1394391/81801484-dcf5a180-9557-11ea-8de2-92c5653f476c.png)

4 months passed, are there any known workarounds? Or ETA for the fix?

[2020-05-27 07:44] kalioz opened #46 "virtual-kubelet has different DNS resolution behaviour to standard kubelet"
The DNS configuration is not applied similarly between the AKS cluster and the ACI connector.

Due to the issue linked with https://github.com/virtual-kubelet/virtual-kubelet/issues/641, I added a `dnsConfig` bloc to my pods.

It worked for a while, but it is now failing to apply the dns change randomly; It didn't work at all since the start of the week.

Do you have any status on if  https://gith

[2020-05-29 21:04] jperl opened #47 "No PodIP"
I am using AKS to create a pod on ACI. The pod gets created however it seems that is never receives a pod ip. When I do `kubectl get pod/... -o yaml` I do not see a PodIP.  The pods created on the non-virtual node pool all have PodIP listed.

We need the pod ip to connect to it from other pods.

[2020-06-02 16:51] asumner commented on #42
We are getting 409 resource not available in westeurope, its randomly working, its promising but largely unusable, maybe its just Azure under immense load due to covid19? @ibabou

[2020-06-04 08:25] dhuesmann89 commented on #12
@macolso Do you have an updated ETA for this capability? We are eagerly wating for this ;)

[2020-06-15 13:24] Kesudan opened #49 "Using managed identity with virtual ACI pods"
We are currently looking using virtual ACI pods from our AKS cluster.

Is there any way to assign Azure managed identities to pods created through the connector?

We use "AAD Pod Identity" for normal AKS pods, but this has no plans to be supported for the ACI connector
https://github.com/Azure/aad-pod-identity/issues/470

[2020-07-09 00:03] AlexeyRaga commented on #28
@dkkapur @macolso @ibabou Sorry for bumping it again, it hurts us quite a lot here, any news on this front?

[2020-07-09 05:20] eugen-nw commented on #28
Probably customer focus is no longer trendy these days?  I’ll check out the AWS offerings and will report back.

[2020-07-09 23:46] macolso commented on #28
Hi @AlexeyRaga , unfortunately no concrete ETA we can share at this point. We're happy to hop on a call and talk a bit to the product roadmap though - email shared above ^^

[2020-07-17 09:04] pwlodek commented on #12
This feature is required if Virtual Node is to be considered for production.

[2020-07-21 05:47] dtzar opened #51 "Unsupported podmetadata"
Some of my jobs sent to the virtual node pool are unable to run.  Those pods fail simply with:

[code]

Here are the logs from the ACI connector pod:

[code]

I'm running a 1.18.4 AKS cluster and the ACI connector is using 1.14.3.
Note in the logs: **Pod tacosandburritos-train-z7dlb-1299559186 requires volume podmetadata which is of an unsupported type"**
Is it possible an upgrade to the K8s versi

[2020-07-22 04:01] AlexeyRaga commented on #38
Hello,

I am having the same issue right now using Kubernetes 1.18.4:

[code]

My ACI connector properties are as follow:

[code]

[code]

I see that Kubernetes thinks that there are pods in the system, and even reports that some pods are in a "Ready" state. None of the pods are in "Terminating" state, only "Running", "Waiting" and "Pending", and they've been in this state for >3 hours already.
Bu

[2020-07-23 10:39] mgsnuno commented on #46
+1 for this, any updates on what is blocking https://github.com/virtual-kubelet/azure-aci/pull/8 ?

[2020-07-27 19:52] kalioz commented on #46
For information I found out the DNS configuration stopped working once we scaled the cluster with the azure portal.
When we reapply the configuration with terraform, the DNS configuration is reapplied (I don't have the change here, but from memory it was the network associated with the ACI that was removed silently by the manual scaling)

Still a bug, but it might not be associated with this proje

[2020-07-30 18:51] #35 closed

[2020-07-30 18:51] #36 closed

[2020-07-30 18:52] #39 closed

[2020-07-30 18:53] macolso commented on #42
There was a short network outage on June 2nd which may have resulted in your downtime @asumner. If this is still ongoing, please open a new issue

[2020-07-30 18:53] #42 closed

[2020-07-30 18:59] macolso commented on #46
hey @mgsnuno - we're reviewing [#8](https://github.com/virtual-kubelet/azure-aci/pull/8) now

[2020-07-30 19:02] macolso commented on #47
@jperl - are these Linux or Windows pods?

[2020-07-30 21:37] jperl commented on #47
It was Linux

[2020-08-01 18:58] eugen-nw commented on #42
One question is if the containers started up after the outage was over or were they left hanging in their Waiting states?  The desired behavior would be for the containers to start Running after the outage is over.

[2020-08-04 09:03] mgsnuno commented on #46
@macolso thank you for the feedback. Any news on the progress or an eta? thanks again

[2020-08-06 19:07] #34 closed

[2020-08-12 08:30] mikkelhegn opened #54 "ContainerGroupIpAddressType is always 'Public' or 'None'"
ACI supports containers to be exposed on VNETs, and exposes a property if the IpAddress of a container is Public or Private. Currently, the provider only sets the ContainerGroupIpAddressType to "Public" under this condition: https://github.com/virtual-kubelet/azure-aci/commit/e7a368b42672d90d6da4e2d6a015c79ef9e80916, otherwise, it's empty.

This can cause an issue with policies only allowing Conta

[2020-08-14 09:48] MikkelHegn commented on #49
This is not possible today. Tracking as an enhancement.

[2020-08-26 08:06] uveta opened #55 "Is it possible to create ACI with custom resources?"
I am trying to create deployment with following resource requirements and limits:

[code]

However, no matter which values i supply for cpu and memory, ACI with default values is created, i.e. 1 CPU core and 1.5GB memory.

Is there a way to configure VK to supply different values to Container Group create request? The application I am trying to deploy is not able to run only with 1.5 GB of memory,

[2020-08-26 10:39] uveta commented on #55
There seemed to be an issue where deployment configuration was not properly applied to newly created pods. Once we removed the problem, VK correctly created ACI with requested resources.

Sorry for oversight on our side.

[2020-08-26 10:39] #55 closed

[2020-08-26 14:09] kenans commented on #44
Hi, any update on this one?

Apart from the `apiVersion` , v1.16 also requires the `selector: matchLabels` to be set explicitly under `deployment.spec` based on my testing.

[2020-08-28 20:03] bridgetkromhout opened #57 "Helm chart updates needed"
Hi, folks!

I corrected issues in the Helm-related parts of the README: https://github.com/virtual-kubelet/azure-aci/pull/56

I also noticed that when I tried to perform the installation, I ran into problems with syntax in some of the Helm chart files:

[code]

It appears this `can't give argument to non-function` message might indicate the same problem as here: https://github.com/helm/helm/issues

[2020-09-01 06:50] MikkelHegn commented on #57
@mingqishao is working on this currently.

[2020-09-21 02:05] feiskyer commented on #57
The issue has been fixed by #61

[2020-09-21 02:05] #57 closed

[2020-09-21 08:18] MikkelHegn opened #62 "Update the azure-aci provider version to 1.3 as it's now using VK 1.3"
This PR updated the VK library to 1.3: https://github.com/virtual-kubelet/azure-aci/commit/cadeb6e99263d475a5aa37f320857ca1efab9c9f.

We should bump the aci-provider version to 1.3 as well.

[2020-09-21 19:15] MikkelHegn opened #64 "Helm chart clean-up"
https://github.com/virtual-kubelet/virtual-kubelet/tree/master/charts has helm charts for AKS, but they are not used nor supported anymore.

[2020-09-22 08:38] MikkelHegn opened #65 "Azure pipeline checks are failing"
Here's an example: https://github.com/virtual-kubelet/azure-aci/runs/1148351508

[code]

[2020-09-22 20:38] MikkelHegn opened #67 "makefile failing in pipeline"
This PR build failed: https://github.com/virtual-kubelet/azure-aci/pull/66 --> https://app.circleci.com/pipelines/github/virtual-kubelet/azure-aci/163/workflows/7c42813d-530e-4455-ad38-3e40762adabb/jobs/336

[code]

This recent change to the makefile was merged without a pipeline run: https://github.com/virtual-kubelet/azure-aci/commit/ae214601d0d03bafc48b055ffc8d09a9ecca628d - is this causing the

[2020-09-23 20:11] cpuguy83 commented on #67
The pipeline ran and passed on that one:
<img width="887" alt="image" src="https://user-images.githubusercontent.com/799078/94064231-37243000-fd9e-11ea-9d64-0ce0798bdb8c.png">

[2020-09-23 20:12] cpuguy83 commented on #67
Looks like the failure is a timeout in an API call to ACI.

[2020-09-24 22:15] mingqishao commented on #62
I have release new version 1.3 with align with Virtual Kubelet.

[2020-09-24 22:15] #62 closed

[2020-09-25 01:01] feiskyer opened #68 "Move to the official azure-sdk-for-go instead of the hand-rolled ACI client"

[2020-09-25 04:53] feiskyer commented on #67
it is failing because we didn't set a correct `UploadToVKRegistries`. @cpuguy83  do you know which registry should be used in the CI?

[2020-09-25 11:56] MikkelHegn opened #69 "Upgrade Helm charts to use virtualkubelet.azurecr.io/virtual-kubelet:1.3"
Following #62 - we should upgrade Helm charts as well.

[2020-09-25 14:32] MikkelHegn commented on #67
The above is valid, but looks like we have issues with some tests, here as well: https://github.com/virtual-kubelet/azure-aci/pull/70#partial-pull-merging

But some of these tests are ok in another test run: https://app.circleci.com/pipelines/github/virtual-kubelet/azure-aci/163/workflows/7c42813d-530e-4455-ad38-3e40762adabb/jobs/336 but the failling test has a different failure (timeout on delete

[2020-09-29 08:08] #69 closed

[2020-09-29 08:09] MikkelHegn commented on #44
Fixed

[2020-09-29 08:09] #44 closed

[2020-09-30 19:28] MikkelHegn opened #71 "Remove old pipelines not in use"
https://github.com/virtual-kubelet/azure-aci/blob/master/azure-pipelines.yml#L1 is no longer in use, and can be removed.

[2020-09-30 19:37] mikkelhegn opened #72 "Revise release pipeline"
Revise the release pipeline setup to push directly to MCR and ensure Helm charts are pulling from MCR.

We can deprecate the current ACR registry at some point.

[2020-10-26 17:28] NillsF opened #75 "Documentation issue: Windows example no longer part of AKS documentation"
The main README.md contains a link to the AKS documentation about a Windows container example. This example is no longer part of the AKS documentation.

[2020-10-29 11:48] dirien opened #101 "AKS (1.19.0) pending Loadbalancer external IP"
---

### Environment summary

Provider (ACI)

Version (v 1.14.3-vk-azure-aci-vv1.3.0)

K8s Master Info (AKS)

### Issue Details
Running VK via ACI on a AKS Cluster with the Kubernetes Version 1.19.0 results in pending Loadbalancer für external IP Adress and following error: not a vmss instance.

![image](https://user-images.githubusercontent.com/38325136/97564307-ad8f0000-19e4-11eb-8a9e-3f553b3a18

[2020-10-30 18:25] TomaszKlosinski opened #78 "networkPlugin cni failed to set up pod"
Hello,

I've installed virtual-kubelet with following helm command:
[code]

Helm installation is fine but the pod never comes up:

[code]

Any clues what is the problem?

[2020-10-30 20:06] TomaszKlosinski commented on #78
Ok, I know, one of the labels consisting of serviceAccoubtName was too long, so I've shortened the variables:
[code]
And now it works.

[2020-10-30 20:06] #78 closed

[2020-11-03 13:03] MikkelHegn commented on #67
@mingqishao - can you confirm this can be closed?

[2020-11-05 05:49] #75 closed

[2020-11-07 14:19] swapnika436 opened #98 "kubectl logs doesnot give logs for azure container instances"
---

### Environment summary

Provider (Azure Container Instances)

Version (e.g. 0.1, 0.2-beta)

K8s Master Info (AKS)

Install Method (e.g. Helm Chart, )

### Issue Details

### Repo Steps

kubectl logs <<pod name>>  and  logs = v1.read_namespaced_pod_log(<<pod name>> ,<<namespace>>)
doesnot give any logs.

[pod_template.txt](https://github.com/virtual-kubelet/virtual-kubelet/files/5504876/pod_t

[2020-11-10 19:52] subodh-dharma opened #80 "virtual-kubelet/azure-aci helm charts installation fails due to expired registry secrets."
I tried installation of virtual-kubelet/azure-aci on AKS 1.17.11, the pods for Linux as well as Windows ACI failed due to invalid credentials.

Helm Charts used:

https://github.com/virtual-kubelet/azure-aci/tree/e8ec5dee8918cd9b4755a0fe01d9b63d01f95e88/charts

AKS Cluster Version: 1.16.15 and 1.17.11

Error Message:
 ImagePullBackOff for pods deployed using above helm chart.

Detailed Event for P

[2020-11-10 20:22] Romiko opened #81 "Schedule deployment to specific location region"
Hi,

I have two Deployments, how can I deploy one pod to Australia East and another pod to Europe using the virtual kubelet? Is there a way to decorate the node selector with a preferred region that the aci provider can read when scheduling?

[2020-11-10 20:45] Romiko commented on #81
Looking at the code, it seems this is possible if I install multiple virtual kubelets with different release names and node names? E..g

Release vkwestus
Node vkwestus

Release vkaustraliaeast
Node vkaustraliaeast

Is this correct? I can then install these charts on Gke?

[2020-11-10 21:08] cpuguy83 commented on #80
@MikkelHegn Looks like this is behind a private acr?

[2020-11-10 21:39] subodh-dharma commented on #80
I was able to successfully deploy the above helm charts in the last week. I started getting this error today i.e Nov 10, 2020

[2020-11-11 22:05] MikkelHegn commented on #80
There's an issue with access to the registry hosting the image referenced in the Helm chart - we're looking into this asap.

[2020-11-11 22:51] MikkelHegn opened #82 "Update Helm charts to use MCR hosted image for VK"
To permanently fix #80, we should change the Helm charts to consume the VK image from mcr.microsoft.com/oss/virtual-kubelet/virtual-kubelet

[2020-11-11 22:51] MikkelHegn commented on #80
The image is available here: `mcr.microsoft.com/oss/virtual-kubelet/virtual-kubelet:1.3.0` - we need an update to the Helm charts to point to the public repo #82.

[2020-11-12 10:27] MikkelHegn commented on #82
#84 will fix the last tars in the directory.

[2020-11-12 10:28] MikkelHegn commented on #80
@subodh-dharma - heads up on this PR #84 - the aci-for-aks tar has been removed, since it doesn't use versions. Also 1.2.3.1 has been updated. All tars in the charts repo are back to working.

[2020-11-12 10:30] MikkelHegn commented on #81
That is correct

[2020-11-12 10:59] feiskyer commented on #82
#84 merged

[2020-11-12 10:59] #82 closed

[2020-11-12 22:08] subodh-dharma commented on #80
@MikkelHegn I used the `virtual-kubelet-latest.tgz` to deploy the ACI for AKS, both linux and windows type deployments are healthy.

Thank you for the quick turnaround!

[2020-11-12 22:57] #80 closed

[2020-11-13 11:36] #67 closed

[2020-11-15 00:08] Romiko opened #87 "GKE Cluster + azure-aci causes Insufficient cpu."
Hi,

When I deploy a helm chart that is using the azure container instance. Some of my existing pods get stopped.
e.g.
alertmanager-prometheus-operator-alertmanager-0
 Warning  FailedScheduling  7m12s (x33 over 12m)  default-scheduler                                             0/4 nodes are available: 1 node(s) didn't match node selector, **3 Insufficient cpu**.

I though I needed to scale out th

[2020-11-15 00:18] Romiko commented on #87
I can confirm that pods are successfully being scheduled to Azure Container Instances. I just have issues where the provider is causing insufficent cpu for existing pods that do not even have an affinity with the virtual node at all e.g. prometheus.

[2020-11-15 00:34] Romiko opened #120 "Insufficient cpu - virtual-kubelet - GKE + Azure ACI Provider"
---

### Environment summary

Provider **ACI**
https://github.com/virtual-kubelet/azure-aci/tree/master/charts

**Version latest**

K8s Master Info
1.16.13-gke.401

Helm Chart

### Issue Details
I deployed the Virtual-Kubelet in GKE to use the Azure Container Instances. I am able to successfully schedule pods to Azure.

However the virtual-kubelet is causing an issue in the GKE cluster. Existing p

[2020-11-15 03:08] #81 closed

[2020-11-15 03:08] Romiko commented on #81
I have been able to achieve this with multiple charts.

[2020-11-15 03:54] Romiko commented on #87
I think I can see the source of the issue. When deploying the kubelet, I noticed a lot of kubedns pods spawn, and this is probably what causes it. Any idea why?

![image](https://user-images.githubusercontent.com/579058/99162484-662da100-2752-11eb-96a6-7cb3d1223081.png)

[2020-11-15 04:19] Romiko commented on #87
Temporary fix
`
kubectl scale --replicas=0 deployment/kube-dns-autoscaler --namespace=kube-system
kubectl scale --replicas=1 deployment/kube-dns --namespace=kube-system
`

[2020-11-18 13:23] andyzhangx opened #88 "[feature request] support Azure File CSI driver"
Current azure-aci only supports in-tree azure file driver:
https://github.com/virtual-kubelet/azure-aci/blob/190d6b3e255d558c2b0a8dc9c152f1455e172439/provider/aci.go#L1611-L1631

also need to support [Azure File CSI driver](), in the near future, in-tree driver will be removed, and only CSI driver will be supported, here is the reference code about how to get secret, file share from CSI driver str

[2020-11-20 04:50] #87 closed

[2020-11-20 04:50] Romiko commented on #87
This is due to Google GKE having wide tolerations on there monitoring plugin.

[2020-11-20 04:51] Romiko opened #89 "FailedToCreateRoute"
Hi,

I have deployed a virtual kubelet on GKE to ACI. I am able to deploy containers, however if I describe the node, I can see an error. Any ideas what would cause this?

Events:
  Type     Reason               Age                       From              Message
  ----     ------               ----                      ----              -------
  Warning  FailedToCreateRoute  4m27s (x1267 over 3h

[2020-11-20 05:09] Romiko commented on #89
It does not seem to cause any issues with deploying to ACI

[2020-11-20 11:17] Romiko opened #90 "Cronjobs stop being scheduled on virtual node after a few hours"
Hi
I am currently testing the ACI provider and found a very odd pattern.
I am scheduling a cronjob on a Google Kubernetes Cluster that will run every 10 minutes in ACI in East US 2.

virtual-node-eus                                      Ready    agent    6h39m   v1.18.4-vk-azure-aci-v1.3.1

What happens is after a few hours the jobs stop being scheduled.
It seems the virtual node got tainted.
0/3

[2020-11-20 11:43] Romiko commented on #90
If I add the following toleration to the cronjob it starts working again.

  - key: node.kubernetes.io/network-unavailable
    effect: NoSchedule

[2020-11-23 07:47] feiskyer commented on #89
it is expected warning message as the route controller doesn't exclude virtual node when trying to create routes. we may need a fix from kube-controller-manager if we want to eliminate this warning.

[2020-11-25 15:04] dirien commented on #12
Hi,

i hate to write: any updates? Because i would like to help.

But could we have this feature please? It feels wrong to have a container in a CrashloopBackOff...

[2020-11-30 09:51] #71 closed

[2020-11-30 09:52] #65 closed

[2020-11-30 16:12] ryedin opened #91 "support for downwardAPI volumes?"
Is there planned support for `downwardAPI` based volume mounts?

This is currently preventing the deployment of argo workflows to virtual nodes in AKS. Being able to schedule long running, cron-based ETL workflows via argo into virtual nodes is a holy grail for us, so am mainly just curious if this issue has been discussed yet, and if not, could we get some discussion going around this?

Right now

[2020-12-09 23:35] eugen-nw opened #93 "How could I deploy Windows containers on VK 1.3.1?"
I followed the setup steps present in https://github.com/virtual-kubelet/azure-aci/blob/master/README.md#deployment-of-the-aci-provider-in-your-cluster  I use an AKS cluster.

Below is the deployment script I used so far to install on 1.2.1.  The node name at the time was ```virtual-kubelet-aci-connector-for-windows```

[code]
The script still runs fine, but the Pod won't start. ```kubectl decribe

[2020-12-10 02:57] eugen-nw commented on #93
I experimented a bit more with this and I tried to deploy the Windows container as a pod.  The script is below.  That deployment completes successfully.
[code]
The container still does not start, with the same error:
[code]
This makes me believe that virtual-kubelet cannot run Windows containers.  Is there any VK that can run Windows containers in ACI please?

[2020-12-10 10:29] Romiko opened #94 "GKE Pod terminates"
Hi,

When I run virtual kubelet in GKE with Azure ACI. The pods run correctly but GKE terminates them instead of marking them complete. If I look at the error.

Error from server: Get https://10.176.9.97:10250/containerLogs/my-namespace/myjob-cronjob-1607595600-sq4n7/user-journey: x509: cannot validate certificate for 10.176.9.97 because it doesn't contain any IP SANs

What is the cause of this is

[2020-12-11 00:52] eugen-nw commented on #93
I've found out how to install the Windows VK: this piece of information needs to be present on the command line ```helm install  ... --set nodeOsType="Windows"```.

Please do not close this issue without updating the setup instructions on the https://github.com/virtual-kubelet/azure-aci/blob/master/README.md page: nobody else should waste any time figuring out how to do it.

[2020-12-11 03:03] Romiko commented on #89
Thanks for the update :) There are a few services depending on cloud technology where their tolerance levels are too broad e.g. GKE tries to install fluentD on virtual nodes

[2020-12-11 03:03] #90 closed

[2020-12-21 09:12] lurumad opened #95 "kubectl cp does not work in Virtual Nodes"
Hi folks,

Maybe I'm doing something wrong but **kubectl cp** seems not working in Virtual Nodes:

[code]

Same command works in the aks nodepool.

Regards!

[2021-01-07 00:31] eugen-nw opened #96 "How should I go about updating the certificate that comes with the installation?"
I recently installed the 1.3.1 VK onto our AKS instances using Helm, following the instructions in the "Deployment of the ACI provider in your cluster" section of the https://github.com/virtual-kubelet/azure-aci/blob/master/README.md document.

I remember from an earlier conversation - https://github.com/virtual-kubelet/azure-aci/issues/30 - that the expiration of that certificate forced us to uni

[2021-01-11 21:44] cpuguy83 commented on #98
Transferred this over from vk/vk repo.

Can you paste your template into a code block? Otherwise people have to download the text file.

[2021-01-11 21:45] cpuguy83 commented on #98
Nevermind, I just curl'd it:

[code]

[2021-01-12 01:57] feiskyer commented on #98
@cpuguy83 what errors have you got when fetching logs?

[2021-01-12 02:43] cpuguy83 commented on #98
I think you mean @swapnika436

I haven't seen errors from this before.

[2021-01-28 18:47] #103 closed

[2021-01-28 18:47] mslonli opened #103 "virtual-kubelet dns resolution is not working"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate)
Azure
Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS
Install Method (e.g. Helm Chart, )
Helm Chart
### Issue Details
Azure Vote Demo app doesn't work after deployed the front-end and back-end apps to virtual node AKS.
With the following config, the backend pod cannot be curled. After changing the val

[2021-01-29 00:27] henrikrox opened #112 "No metrics from Windows Containers"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
ACI

Version (e.g. 0.1, 0.2-beta)

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS

Install Method (e.g. Helm Chart, )
Helm

### Issue Details
Deployed this test app

But get no metrics from either the kubernetes dashboard or azure container instances, shows 0 for memory and 0 for cpu. Also during stress testing. The virtua

[2021-01-29 16:46] MattJeanes opened #121 "Unauthorized error with Windows virtual nodes on AKS"
Hi there, I am attempting to set up Windows ACI virtual nodes using this project along with the built-in Azure functionality for Linux nodes. The built-in Linux nodes are working well but the Windows one is writing an error every 10 seconds or so:

`time="2021-01-29T16:36:28Z" level=info msg="Unauthorized, ok: false" node=virtual-kubelet-aci-win operatingSystem=Windows provider=azure watchedNamesp

[2021-02-01 06:39] feiskyer commented on #121
@MattJeanes I couldn't reproduce the issue with the same steps. Have you deployed successfully for Linux OS type?

[2021-02-01 10:25] MattJeanes commented on #121
We are using the built-in AKS feature for virtual Linux nodes, would it cause any problems if I try to deploy this with the Linux nodeOsType since there would be two of them then?

![image](https://user-images.githubusercontent.com/2363642/106446192-d9a09e00-6477-11eb-811b-3348c2a42936.png)

Our cluster is running Kubernetes 1.19.6

If there's anymore debug information I can provide I'm happy to h

[2021-02-02 01:26] feiskyer commented on #121
No, it should work just as expected for Linux nodes.

Because ACI doesn't support VNet integration yet, AKS virtual nodes only support Linux nodes.

[2021-02-02 08:15] gossion opened #123 "Failed to deploy virtual kubelet when the AKS cluster has MSI enabled"
Follow this guidance https://github.com/virtual-kubelet/azure-aci#deployment-of-the-aci-provider-in-your-cluster to deploy virtual kubelet on AKS which has MSI enabled, we will get the error like
[code]

install commands:
[code]

The problem does not exist when the AKS cluster uses SP.

[2021-02-03 07:36] gossion commented on #47
does the problem still exist, @jperl ?

Please help to collect below logs that we can take a look
1. describe the pod which does not have pod ip,
2. log of aci connector,
3. log of kube controller manager

[2021-02-03 08:14] feiskyer commented on #116
This is already supported. The ENV from secrets would override azure.json.

[2021-02-03 08:14] #116 closed

[2021-02-03 10:11] gossion commented on #46
#8 is already merged, @mgsnuno is the issue solved for you?

With your pod yaml example, I saw the dnsConfig was applied in my env
[code]

[2021-02-03 10:17] gossion commented on #101
this is already fixed by https://github.com/virtual-kubelet/azure-aci/pull/85, upgrade to 1.3.1+ to solve the problem.

[2021-02-03 10:17] #101 closed

[2021-02-03 14:10] mgsnuno commented on #46
stopped using virtual kubelet so if you got those results all fine by me to close this.

[2021-02-04 01:00] MattJeanes commented on #121
@feiskyer I have tried that now, exactly the same setup but just changed Windows to Linux for nodeOsType and it still comes back with essentially the same error message 🙁

[code]

I have attached the azdeploy.json (had to rename it to .txt for GitHub to accept it) we use to create the AKS cluster here:
[azdeploy.txt](https://github.com/virtual-kubelet/azure-aci/files/5922459/azdeploy.txt)

You sho

[2021-02-04 06:12] #46 closed

[2021-02-04 07:48] feiskyer commented on #121
Probably because missing permissions. Have you assigned the required permissions, e.g. by running `az role assignment create --assignee $AZURE_CLIENT_ID --scope <vnetId> --role "Network Contributor"`?

[2021-02-04 11:23] MattJeanes commented on #121
I have added that now with this command (slightly censored) and re-deployed it but unfortunately still the same error message. The client id is the same one AKS uses in the `servicePrincipalProfile`

[code]

Perhaps I am missing some of the Helm parameters? Such as providers.azure.clientId/clientKey - I wasn't sure if those were required as it says you don't need them for AKS in the readme. Or may

[2021-02-05 06:16] gossion opened #126 "`kubectl exec` does not return expected result"
Tried to do `ls /` and `ls /bin` with `kubectl exec`,

[code]
the file list returned by `ls /bin` is not correct, seems the argv is discarded by `kubectl exec`

[2021-02-05 07:34] gossion commented on #117
by default, kubectl does not provide a tail number so the value is 0, but actually it expects to show all logs. In ACI, the value would request 0 lines. We should not pass 'tail' query to ACI if it is not set by kubectl.

[2021-02-05 22:31] Andycharalambous commented on #98
It gives no logs at all. No errors. No output at all. At least, in my experience.

[2021-02-06 05:22] gossion commented on #98
that is because we pass 'tail=0' to ACI when getting log.
#128 would fix this issue.

[2021-02-06 05:27] gossion commented on #3
this is supported now. closing the issue.

[2021-02-06 05:27] #3 closed

[2021-02-06 05:31] gossion commented on #99
duplicated with #46

[2021-02-06 05:31] #99 closed

[2021-02-06 05:42] gossion commented on #106
there is no problem in my env that scheduling the pod spec pasted by @faniereynders , my pod got created succeeded.

[code]
closing this aging issue.

[2021-02-06 05:42] #106 closed

[2021-02-06 12:27] gossion commented on #113
checked in 1.3.2, seems it is already fixed

[code]

[code]

[2021-02-07 01:05] #117 closed

[2021-02-07 01:06] #126 closed

[2021-02-08 04:16] gossion commented on #98
before the fix is released, you can try 'kubectl logs xxx --tail n' to get logs. @Andycharalambous  @swapnika436

[2021-02-08 04:51] #98 closed

[2021-02-08 04:53] feiskyer commented on #123
@gossion this should be fixed by #125?

[2021-02-08 05:22] #105 closed

[2021-02-08 05:23] #104 closed

[2021-02-08 05:23] #107 closed

[2021-02-08 05:23] #110 closed

[2021-02-08 05:24] feiskyer commented on #109
Issues should have already been fixed.

[2021-02-08 05:24] #109 closed

[2021-02-08 05:25] #108 closed

[2021-02-08 05:25] feiskyer commented on #114
this is not supported by ACI service.

[2021-02-08 05:25] #114 closed

[2021-02-08 05:26] feiskyer commented on #100
VNet for Windows ACI is not supported (Linux is supported).

[2021-02-08 05:26] #100 closed

[2021-02-08 05:27] feiskyer commented on #113
close since this is already supported

[2021-02-08 05:27] #113 closed

[2021-02-08 05:28] feiskyer commented on #112
@rbitia @MikkelHegn any updates for the above https://github.com/virtual-kubelet/azure-aci/issues/112#issuecomment-466593435?

[2021-02-08 05:35] feiskyer commented on #115
The issue should have already been fixed. If you still have an issue, please open a support ticket on Azure portal.

[2021-02-08 05:35] #115 closed

[2021-02-08 05:58] gossion commented on #123
yes. closing it.

[2021-02-08 05:58] #123 closed

[2021-02-08 06:01] #47 closed

[2021-02-08 06:03] feiskyer commented on #49
AAD Pod Identity requires a daemonset, which is not supported on virtual node.

[2021-02-08 06:03] #49 closed

[2021-02-08 06:06] #118 closed

[2021-02-08 06:13] #30 closed

[2021-02-08 06:17] feiskyer commented on #51
@dtzar what type of volume are you using? could you share the Pod manifest (remember to remove secret if you're using it)?

[2021-02-08 06:25] feiskyer commented on #120
@Romiko could you share the manifest for kube-dns Pod?

[2021-02-08 06:30] feiskyer commented on #96
@eugen-nw please use https://docs.microsoft.com/en-us/azure/aks/virtual-nodes on AKS, so you don't need to care about this.

[2021-02-08 06:30] #96 closed

[2021-02-08 07:44] #93 closed

[2021-02-08 07:49] #64 closed

[2021-02-08 15:40] jperl commented on #47
Hi @gossion unfortunately I don't know since I stopped using AKS.

[2021-02-08 18:35] aidapsibr opened #131 "Pod Identity possible with sidecar?"
I was just reading the reason for closing #49 and it strikes me that if NMI was running as container within your pod, it should function on virtual kubelet.

Has this been attempted? We aren't yet running virtual kubelet, but it is in our plans later this year.

[2021-02-09 03:50] feiskyer commented on #131
@ritazh @aramase is Pod Identity available running as a sidecar instead of a daemonset?

[2021-02-09 07:10] gossion commented on #121
@MattJeanes the error "Unauthorized, ok: false" means the request failed to call ACI request api, there is a known problem that AKS node checker failed to call /healthz check to virtual node, which does not matter for now.
We had just released https://github.com/virtual-kubelet/azure-aci/releases/tag/v1.3.3 which has enriched the Unauthorized logs, could you upgrade to that version and check the l

[2021-02-09 22:11] Andycharalambous opened #132 "Pods status = Pending, reason=ProviderFailed due to ACI management api 503 timeout"
When pods get scheduled to aci, some of them end up showing as ProviderFailed:

Describing such a failed pod shows:

[code]

When I take a look at the container group itself, it's running OK and my app has started up fine. It doesn't appear that the ACI api call that timed out is re-attempted at all, so the pod stays Pending. And because health probes are not yet supported, the pod is never killed

[2021-02-10 02:38] gossion commented on #132
the current client does not have a retry policy, switching to azure-go-sdk should fix the problem. #68

[2021-02-10 18:14] MattJeanes commented on #121
Okay, it looks like that version does not yet exist in the Helm charts - I will be happy to try this out once it's on there: https://github.com/virtual-kubelet/azure-aci/tree/master/charts

[2021-02-19 02:13] MattJeanes commented on #121
So the logs on the new version now show this:

[code]

[2021-02-19 09:39] feiskyer commented on #121
Thanks @MattJeanes for confirm. Those Unauthorized log could be safely omitted.

[2021-02-19 11:11] MattJeanes commented on #121
Thanks, so it can be safely ignored? My only concern is that we and I imagine many other AKS users are logging console output and this message prints every 5 seconds which could get very expensive and use up a lot of storage.

[2021-02-22 07:47] feiskyer commented on #89
Issue would be fixed by https://github.com/virtual-kubelet/azure-aci/pull/134.

[2021-02-23 05:52] feiskyer commented on #132
This is a bug from azure ACI provider. retries should be added for such errors.

[2021-02-23 07:07] #89 closed

[2021-02-23 08:29] feiskyer opened #135 "virtual kubelet didn't retry for failed and pending Pods"
If a Pod failed to provision due to some reasons, it would stuck in failed or pending state even after restarting virtual kubelet Pod. This should be a bug of virtual kubelet, it should retry for failed and pending Pods.

Related logs:

[code]

[2021-02-24 21:11] dtzar commented on #51
This is the repository which I used to reproduce and I *think* I used `azure-premium` or `azure-managed` for storage.

[2021-02-25 03:05] feiskyer commented on #51
it only supports a very limited type of volumes. See [here](https://github.com/virtual-kubelet/azure-aci/blob/61e265694a6bda3262fed19dfea5333e8cb34a70/provider/aci.go#L1615-L1710) for its supported volume list.

[2021-02-26 07:42] gossion commented on #121
yes, currently it can be ignored. We would find a way to remove those Unauthorized msg.

[2021-03-01 09:26] MikkelHegn opened #136 "Upgrade to VK 1.5.0 and the dependency on node-cli"
The ACI provider currently runs 2 minor versions behind the virtual-kubelet library. [A lot of changes dating back to July 2020](https://github.com/virtual-kubelet/virtual-kubelet/compare/v1.3.0...v1.5.0). A quick look revealed the node-cli also needs updating from 1.3.0.

A spin-off question, not sure if this has been discussed before, but the node-cli repo states [that](https://github.com/virtua

[2021-03-01 16:25] cpuguy83 commented on #136
I think it's worthwhile to get off of node-cli.
It is intended for getting a project off the ground, but causes problems for dependency management... it also masks the interfaces vk provides.

[2021-03-02 00:06] #51 closed

[2021-03-22 15:22] eugen-nw commented on #96
The above https://docs.microsoft.com/en-us/azure/aks/virtual-nodes article does not address our particular issue.  We are running Windows containers so we need to install https://github.com/virtual-kubelet/azure-aci in order to run them.  My original question was what is the procedure in place to update the certificate that component uses before/when it expires without having to remove and reinsta

[2021-03-22 15:33] eugen-nw opened #140 "The above https://docs.microsoft.com/en-us/azure/aks/virtual-nodes article does not address our particular issue. We are running Windows containers so we need to install https://github.com/virtual-kubelet/azure-aci in order to run them. My original question was what is the procedure in place to update the certificate that component uses before/when it expires without having to remove and reinstall the component."
The above https://docs.microsoft.com/en-us/azure/aks/virtual-nodes article does not address our particular issue.  We are running Windows containers so we need to install https://github.com/virtual-kubelet/azure-aci in order to run them.  My original question was what is the procedure in place to update the certificate that component uses before/when it expires without having to remove and reinsta

[2021-03-25 08:09] #121 closed

[2021-03-25 08:19] gossion commented on #140
if you mean SP expiration, how about using managedidentity?
https://github.com/virtual-kubelet/azure-aci/blob/v1.3.5/helm/templates/deployment.yaml#L50

if you mean cert auto rotate, we don't have a plan yet.

[2021-03-25 08:21] gossion commented on #132
fixed by #139

[2021-03-25 08:21] #132 closed

[2021-03-31 07:54] #136 closed

[2021-03-31 21:36] eugen-nw opened #143 "The pods fails on ASK that uses a system-assigned Managed Identity"
---

### Environment summary

Provider (e.g. ACI, AWS Fargate)

Version (e.g. 0.1, 0.2-beta)
latest

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS

Install Method (e.g. Helm Chart, )
Helm

### Issue Details

### Repo Steps
1. I created the AKS instance in the Azure portal and picked to use a system-assigned Managed Identity

2. I installed the componentent using the command line: `helm inst

[2021-04-01 02:55] feiskyer commented on #143
@eugen-nw could you assign the MSI with vnet contributor role?

[2021-04-01 16:14] eugen-nw commented on #143
Thanks very much for your quick response!  Unfortunately, I could not get it to work, so the problem lies elsewhere.

This is what I did:

1. I called `az aks show -g myResourceGroup -n myManagedCluster --query "identity"` to retrieve the Managed Identity Principal's ID.

2. I used the Principal's ID in `az role assignment create --role` calls to set both `Contributor` and `Network Contributor` ro

[2021-04-02 07:20] gossion commented on #143
It would have different error msg if it is permission issue, like:
[code]

This error means that you are not able to connect to your apiserver or the apiserver can't response.  Please check the econnection first.

BTW, reflector.go  is not part of virtual-kubelet/azure-aci, it is standard k8s client-go, you can find it @ https://github.com/kubernetes/client-go/blob/master/tools/cache/reflector.go

[2021-04-02 14:33] eugen-nw commented on #143
Which apiserver please?

[2021-04-03 01:56] gossion commented on #143
it is the 'kube-apiserver' pods managed by AKS. Inside of your virtual-kubelet-virtual-kubelet-aci-for-aks pod, it tried to resources (pods, secrets, nodes, etc) from the apiserver but it failed. It is hard to tell what was wrong from the log you provided, but it is very likely your  virtual-kubelet-virtual-kubelet-aci-for-aks pod can't talk to 'kube-apiserver'.

[2021-04-03 02:57] eugen-nw commented on #143
Thanks very much for the info!  It was an experiment for me to set up the AKS cluster to use a Managed Identity.  I do not have the time to get it working, so I deleted the AKS instance and had created again using an SP I created beforehand.  The VK works now.

Have you guys tested the VK if it runs on AKS clusters that had been created to use an MI instance?  If yes and if it works consistently,

[2021-04-06 10:21] MikkelHegn commented on #136
@feiskyer - just to confirm, this did not remove the dependency on the node-cli - correct?

[2021-04-07 01:31] feiskyer commented on #136
no, it just upgraded the dependency.

[2021-04-19 05:14] feiskyer commented on #143
yes, VK works on AKS cluster with MI.

[2021-04-19 05:17] #111 closed

[2021-04-19 05:17] feiskyer commented on #111
closed since no activity for a long time. Feel free to create a new one if there're still issues.

[2021-04-19 05:18] feiskyer commented on #68
Close since the API we used is not available in Go SDK.

[2021-04-19 05:18] #68 closed

[2021-04-19 06:38] feiskyer commented on #12
already supported.

[2021-04-19 06:38] #12 closed

[2021-04-21 05:29] chrye commented on #109
@feiskyer I have exactly the same issue. I am running all the commands in cloudshell, and I got same error with either a Linux node or a Windows node.

[2021-04-21 06:39] feiskyer commented on #109
@chrye  could you share you detailed steps (with credential removed)?

[2021-04-21 06:43] chrye commented on #109
@feiskyer I just made it work after many different tries. When I tried to use helm install with variables, it always fails. Then I took out the variables and put the value in and it just worked. So I am all good. Thanks!

[2021-04-21 06:45] feiskyer commented on #109
@chrye glad to hear it already works. which version of helm are you using?

[2021-04-21 13:47] chrye commented on #109
@feiskyer helm-v3.5.4-windows-amd64.
locally I am using helm-v3.5.4-windows-amd64. But eventually I got it working on cloudshell, so it is always the latest version on cloudshell environment. It's been maintained by platform.

[2021-04-21 16:30] chrye commented on #100
@feiskyer Can you please clarify what "VNet for Windows ACI is not supported" mean?

[2021-04-22 05:47] feiskyer commented on #100
Please see the ACI docs here https://docs.microsoft.com/en-us/azure/container-instances/container-instances-vnet

[2021-04-23 05:38] feiskyer commented on #109
couldn't repro the issue. I think there're something wrong when parsing master URL, it should be `kubectl cluster-info| awk '/Kubernetes control plane/{print $7}'`.

[2021-05-03 17:03] asipras commented on #28
This is a big drawback where the pods scheduled on virtual node does not support [Pod Lifecycle Hooks](https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/) or terminationGracePeriodSeconds. This functionality is needed to stop the pods from getting terminated during scaling-in.

Is there any timeline to implement this issue?

[2021-05-10 08:05] dhuesmann89 opened #145 "Readiness probe failes but pod is reported as ready"
I have deployed a helm package containing a pod with a readiness probe (httpGet). I know on the readme page it says, that its a limitation, but according to issue #12 it is not.
When I look at the container instance running in Azure, there are events that state that the readiness probe failed and the container is in an unhealthy state.
Kubernetes however shows the pod as ready and routes traffic t

[2021-06-02 14:37] asipras opened #146 "Kubernetes status shows Waiting while ACI container is Running"
I am scheduling a Kubernetes Job on AKS which gets assigned to Virtual-Kublet aci. The job gets created correctly however when I run the kubectl get pods command I see the following,

![image](https://user-images.githubusercontent.com/16964799/120497532-1af07e00-c384-11eb-845a-8cabaa7d7676.png)

However when I go to Azure portal and see the container in virtual scale sets it shows it is already ru

[2021-06-03 04:23] feiskyer commented on #146
could you check whether there're some error logs from virtual kubelet pod?

[2021-06-17 08:52] atakadams opened #147 "--follow option does not work with kubectl logs command for a pod running on ACI virtual node"
`kubectl logs --follow <Pod-running-on-ACI-virtual-node>` doesn't follow the incoming log output but only shows existing log and then exit, as same as the command without "--follow" option.

Expected behavior:
`kubectl logs -f <Pod-running-on-ACI-virtual-node>` command shows the latest log already stored and then continues showing new log lines without immediate exit.
(For the pod create with the

[2021-06-23 15:43] tjgalama commented on #88
It looks like this issue prevents keyvault secrets to be accessed from K8s virtual-nodes. Is there any progress on this issue -or- is there an other way that virtual nodes supports keyvault?

[2021-07-05 18:53] jonstelly opened #148 "AKS Kubernetes Version?"
I'm having some problems with AKS and Virtual Nodes enabled.  I'm trying to set up Knative and the knative queue sidecar injects the snippet below which generates the following output on the aci connector: `error="failed to sync pod "..." in the provider: unsupported fieldPath: status.podIP"`.

I now notice that I deployed my AKS cluster as Kubernetes 1.20.7 but the virtual node shows up as 1.18.4

[2021-07-06 07:14] feiskyer commented on #148
yes, v1.18.4 is the latest version for virtual node (the version is actually client-go version since kubelet is virtual).

[2021-07-06 15:53] jonstelly commented on #148
After digging into it, it doesn't seem like a version mismatch issue but that the ACI Virtual Kubelet doesn't support the downward API for status.podIP?  Are there any workarounds for this?

I'm trying to run Knative on top of an AKS Virtual Node and they require the pod ip.

[2021-07-07 21:09] jonstelly opened #149 "Resource Limits vs Requests"
There seems to be some sort of requirement that resource Limits <= Requests for all containers in a pod?  Another report of this from 2019: #17.

I've requested some documentation improvements https://github.com/MicrosoftDocs/azure-docs/issues/78032 but is there any way to improve this?  For my case I've got linkerd and knative sidecars being injected into my pod and if I set limits and requests e

[2021-07-08 05:12] feiskyer commented on #148
@jonstelly yes, this is known limitation from virtual-kubelet. Refer https://github.com/virtual-kubelet/virtual-kubelet/issues/123.

[2021-07-12 20:24] ianadavies opened #151 "Pods are slow to provision"
Can someone please let me know what is a typical time for a pod to provision onto a virtual node?

The smallest image i have is about 44MB and this takes ~60 seconds to provision, other images I have are up to 900MB and these take ~110 seconds to provision.

This is obviously much slower than using normal nodes.

I have noticed pods spend quite a lot of time in a "Waiting" state before they start

[2021-07-15 00:47] rustlingwind commented on #28
Does the terminationGracePeriodSeconds work for aws eks pods on fargate ?

[2021-07-21 10:55] jmalkiew opened #152 "Allow to deploy images from a private ACR"
We'd like to be able to deploy images to AKS virtual node from an ACR that is deployed into VNET (private endpoint & Firewall enabled).
Currently that's not possible as AKS fails to create a pod due to "HTTP response status code 409 error code "RegistryErrorResponse" it receives from ACR.

[2021-07-26 02:26] feiskyer commented on #152
@jmalkiew could you share the result for 'kubectl describe pod <pod-name>'? (remember to remove any credentials if there have)

[2021-07-30 07:24] jmalkiew commented on #152
@feiskyer we had a case with Azure support opened. I can give you the case number if that will help. The conclusion was  „ We double checked with ACR product engineering team what applies to ACI as limitation (https://docs.microsoft.com/en-us/answers/questions/193123/azure-aci-with-private-acr-and-selected-public-net.html) with private ACR applies with Virtual Node with AKS”. That means that if we

[2021-08-09 03:11] feiskyer commented on #152
tagged as a feature request and dependency of ACI

[2021-08-13 12:25] ianadavies opened #154 "Unexpected VM Charge when using Virtual nodes"
I am using Kubernetes in Azure with Virtual Nodes this is a plugin that creates virtual nodes using Azure Container Instances.

The instructions to set this up require creating a AKSNet/AKSSubnet which seems to automatically come along with A VMSS called something like. aks-control-xxx-vmss I followed the instruction on the link below.

https://docs.microsoft.com/en-us/azure/aks/virtual-nodes-cli

[2021-08-16 03:23] feiskyer commented on #154
this is expected as there needs an existing Kubernetes cluster to run virtual kubelet components.

If you don't want to use virtual node, you could follow https://docs.microsoft.com/en-us/azure/container-instances/ to use Azure ACI APIs and CLI to manage ACI instances.

[2021-08-16 10:34] ianadavies commented on #154
@feiskyer, Ok I think your answer has raised more questions than it answered.

- I'm confused, why can't these components run on my existing control node?
- If that is not possible is there a reason this node needs to be the same spec as my Scaleset, e.g if I want nodes that are
   Dvs4 then so is this control node which is expensive.
- Can I run my own custom containers on this node to make bette

[2021-08-16 11:08] feiskyer commented on #154
1. It works of course on your existing kubernetes cluster. Please follow https://github.com/virtual-kubelet/azure-aci#deployment-of-the-aci-provider-in-your-cluster to deploy via helm.
2. No such requirement
3. yes, of course
4. Refer https://github.com/virtual-kubelet/virtual-kubelet#how-it-works for how virtual kubelet works.

[2021-08-19 07:15] ianadavies commented on #154
It's ok got it, thanks @feiskyer

A long story, but put simply I got confused with the AKS Subnets that I created when following the instructions for virtual kubelet and the VMSS hanging off that, I thought that was effectively the bridge to ACI container instances.

The confusion was compounded by the fact my control node was a B2 and the VMSS was DsV4, so it looked like 2 different VMSS's, it wa

[2021-08-19 07:15] #154 closed

[2021-08-30 23:18] asankaf opened #155 "Pods deployed on Virtual node ends up in ProviderFailed status since AKS v1.21.0"
Since Kubernetes 1.21.0, `RootCAConfigMap` is turned on by default which publishes a "kube-root-ca.crt" ConfigMap to every namespace, therefore instead of the service accounts, the pods are now mounted with a Projected volume. virtual-node-aci-linux v1.3.5 doesn't seem to support this type of volumes, thus the pods deployed in virtual node ends up in `ProviderFailed` status. Is there a fix or a wo

[2021-09-01 06:56] feiskyer commented on #155
/assign @gossion

[2021-09-02 08:12] #155 closed

[2021-09-03 02:50] feiskyer commented on #155
@asankaf Thanks for reporting the issue! It has been fixed and chart updated. Would you like to have a try?

[2021-09-06 15:07] asankaf commented on #155
Hi,
Thanks for the fix. I'll try it out. I am guessing it will take some time to integrate this new release when the virtual node is enabled as an addon through az aks.

[2021-09-13 06:26] asankaf commented on #155
Hi again,
I tested virtual-node-aci-linux 1.3.6 in our clusters and everything works just fine here. Thanks again for the fix it in a short notice.

[2021-09-23 06:50] sebastianhutter opened #162 "Container instances randomly get assigned the ip "0.0.0.0""
k8s version: **v1.19.13**
virtual-kubelet version: **v1.18.4-vk-azure-aci-v1.3.6**

We are experiencing an issue with the azure-ci virtual kubelet since a few days.

We have three AKS clusters running in north europe. Each of these clusters has the virtual kubelet installed via [azure cli addon command](https://docs.microsoft.com/en-us/azure/aks/virtual-nodes-cli).

The virtual-kubelet integration

[2021-09-23 07:44] feiskyer commented on #162
@sebastianhutter Could you create a support ticket from Azure Portal?

[2021-09-23 08:15] sebastianhutter commented on #162
I created a support ticket yesterday. The initial recomm

[2021-09-24 15:34] peterpogorski commented on #162
@sebastianhutter we rolled out some platform changes yesterday to resolve this issue. You will need to delete any pods allocated with a 0.0.0.0 IP, and recreate them for the changes to take effect. Please let us know if you still do experience the issue.

[2021-09-24 16:52] sebastianhutter commented on #162
@peterpogorski thanks a lot. I ran 30 jobs, all 30 jobs assigned a correct ip address. the issue seems to be resolved.

Can you give me some more details about the platform changes that were implemented or what lead to the 0.0.0.0 ip behaviour?
Would there be a way for us to circumvent the issue without any changes to the plattform? Was is a global issue or could we have spun up a new kubernetes c

[2021-09-24 20:21] peterpogorski commented on #162
@sebastianhutter  There was a race condition between when the pod was ready and when the communication endpoint on the pod was ready which was causing the default IP of 0.0.0.0 to be returned. It would not have been possible for you to circumvent this issue. This issue would affect all container activations that were hitting this condition. The fix we rolled out will not mark the pod as ready unti

[2021-09-25 14:14] bmovva1991 opened #163 "Container instances failing to resolve other azure resources"
k8s version 1.20.7

We are experiencing an issue with the aks virtual kubelet since a few days. We deploy to aks using azure devops . When we deploy a new service .

2021-09-24T23:27:11: PM2 log: Launching in no daemon mode
2021-09-24T23:27:11: PM2 log: App [index:0] starting in -fork mode-
2021-09-24T23:27:11: PM2 log: App [index:0] online
2021-09-24T23:27:14.396Z - info: Starting Scheduler for d

[2021-09-25 18:57] sebastianhutter commented on #162
@peterpogorski thank you for the explanation. I close the issue as the assignment is back in working state.

[2021-09-25 18:57] #162 closed

[2021-09-26 00:25] feiskyer commented on #163
@bmovva1991 could you open a support ticket from Azure portal?

[2021-09-26 07:01] bmovva1991 commented on #163
@feiskyer Raised a ticket . thanks

[2021-10-23 17:37] cpuguy83 opened #167 ""Network not ready" error"
When creating a pod it can end up in `ProviderFailed` state due to this error:

This is with vnet enabled.

This requires manual intervention to delete the pod so the deployment controller can create a new one.

I suppose it would be nice if ACI handled this itself w/o involving the client, but we could try recreating the containers from VK if we receive this error.

[2021-11-04 04:23] feiskyer opened #172 "Test: add tests with private container images"
e2e tests with private container images should be added to validate pulling images with secrets.

[2021-11-22 04:20] fishman opened #175 "ACI Provider does not handle empty string secrets well"
### Environment summary

Provider (e.g. ACI, AWS Fargate, Hyper)
ACI

Version (e.g. 0.1, 0.2-beta)
Master

K8s Master Info (e.g. AKS, ACS, Bare Metal, EKS)
AKS

Install Method (e.g. Helm Chart, )
Helm Chart

###Issue Details

When I create a gitlab ci runner with an empty variable in the secrets it causes the following error

`  Warning  ProviderCreateFailed  44s (x17 over 11m)  virtual-node-aci-l

[2021-11-22 04:22] fishman commented on #175
If the secret is an empty string it should be accessible as such. Instead it's treated as unset.

[2021-12-07 14:17] matt-psaltis commented on #131
Any comment or new insights on this? We have an entire ecosystem built around managed identity and can't use virtual nodes due to this limitation.

[2021-12-07 15:26] sebastianhutter opened #176 "Unable to use AKS cluster DNS"
Since earlier today, maybe later afternoon yesterday, our ACI pods started via the virtual-kubelet are unable to use the cluster dns to resolve any hostname (internal or external).

AKS version: 1.19.3
virtual-kubelet-version: 1.4.1

Here an example ACI pod manifest
[code]

Deploying the pod creates a new ACI pod and I am able to connect to its shell via the Azure webinterface.

The pod has the fo

[2021-12-07 17:18] aramase commented on #131
Hello 👋🏻

We're actively developing and testing AAD Pod Identity v2 internally. We will have an update soon on when the repository will be public. There is no NMI like component in v2, which means we no longer need host access for adding iptable rules. Once the v2 solution is available publicly we'll post in the aad-pod-identity repo.

No, NMI can't be run as a sidecar as we try to apply the iptab

[2021-12-10 05:03] sebastianhutter commented on #176
Hi @mingqishao
Thanks a lot for your response and the explanation. Good to know :-)
Can you update this post when the fix is implemented?

Is there a way (besides running my tests) to verify the fix is implemented in all our environments?

[2021-12-10 16:26] mingqishao commented on #176
The fix had been applied to all regions. All new pod in VK will be good. For the issue Pod, you need recreate them to mitigated the issue.

[2021-12-10 16:26] #176 closed

[2021-12-12 13:32] matt-psaltis commented on #49
ACI now shows the option to configure a System or User Managed Identity (preview)
How can we configure this as part of the ACI provisioning process?

[2022-01-04 09:03] steephan-s1 opened #179 "Control Characters are not allowed"
Hi,

When i run this command <helm install analytics ./analytics_chart/>
Im getting this error (Error: INSTALLATION FAILED: YAML parse error on insight/templates/20.InsightDataService/.vs/20.InsightDataService/v16/.suo: error converting YAML to JSON: yaml: control characters are not allowed).
Can you please guide me to fix this issue.

[2022-01-06 06:22] sebastianhutter commented on #163
Hijacking this issue ;-)

We see a similar behaviour but with Azure Application Insights.

We recently started integrating Application Insights in all our springboot services. On kubernetes it works well, as soon as we start ACIs via the virtual-kubelet the ACI Pod is unable to resolve the app insights endpoint.

[code]

Unfortunately, the application insights agent won't retry (as its a java agen

[2022-01-06 07:22] sebastianhutter commented on #18
@macolso any news on the initcontainers support? it would help us quite a bit.

[2022-01-11 14:22] letmaik opened #180 "Maintenance of Azure-Samples/virtual-node-autoscale"
https://github.com/Azure-Samples/virtual-node-autoscale

Nobody seems to respond to issues on the above repo anymore (for years). It's not clear if it is still up-to-date and whether this is still the recommended auto-scale technique.

If the repo is officially abandoned and just a snapshot in time, maybe it should be marked as archived? Side note: the repo above is linked to from the Azure docs.

[2022-01-11 15:07] letmaik opened #181 "Clarify Azure Files support for volumes"
https://docs.microsoft.com/en-us/azure/aks/virtual-nodes says in Limitations:

If I understand correctly, then this means V2 is not supported. Is that accurate? I couldn't find the same limitation listed in https://github.com/virtual-kubelet/azure-aci/blob/master/README.md#limitations

[2022-02-18 19:46] ryanzhang-oss opened #182 "support out of tree csi azure disk storage class"
Azure-aci only supports in-tree storage classes.  We need to add support for out-of-tree storage class.

We need to fix that before 1.26 (which will remove in-tree storage support).

[2022-02-18 20:03] ryanzhang-oss commented on #182
code the change should be around
https://github.com/virtual-kubelet/azure-aci/blob/master/provider/aci.go#L1635

[2022-02-18 20:04] ryanzhang-oss commented on #182
We also need an e2e test  in the aks-rp repo

test/e2e/suites/virtualnodeaddon

[2022-02-18 21:09] ryanzhang-oss commented on #151
This is not really a virtual kubelet issue. The time to provision largely depends on the underlying container management platform.

[2022-02-18 21:22] ryanzhang-oss opened #184 "Improve the UT coverage to 95%"
Our current unit test under provider directory is 41%
there are no other tests

[2022-02-18 21:50] ryanzhang-oss opened #185 "Explore setting up github action"

[2022-02-19 00:15] #180 closed

[2022-02-19 00:19] ryanzhang-oss commented on #94
I don't think azure ACI supports GKE

[2022-02-19 00:19] #94 closed

[2022-02-19 00:21] ryanzhang-oss commented on #179
Hi, can you paste your exact command and error here?

[2022-02-19 00:22] ryanzhang-oss commented on #152
add e2e tests with private container images should be added to validate pulling images with secrets.

[2022-02-19 00:22] #172 closed

[2022-02-22 23:12] ryanzhang-oss commented on #184
Please add more sub-issues to track individual effort

[2022-02-28 23:30] minhng22 opened #186 "Improve unit test coverage of client/api/api.go"
PR [https://github.com/virtual-kubelet/azure-aci/pull/188](url)

[2022-03-02 14:12] SandeepCitigori opened #189 "Azure workload identity is not working in aks virtual-node-aci-linux due to incorrect secret"
Continuation of the issue, https://github.com/Azure/azure-workload-identity/issues/381.

Currently, we are using Azure AD Pod Identity for our aks clusters.
We are exploring Azure AD workload identity and able to install using the below links and see it works in nodes as per the given example.
https://azure.github.io/azure-workload-identity/docs/introduction.html
https://github.com/Azure/azure-wor

[2022-03-10 11:32] anupbarve opened #190 "Incorrect documentation for installation of ACI provider"
The README provides following way of fetching the MASTER_URI.

export MASTER_URI="$(kubectl cluster-info | awk '/Kubernetes control plane/{print $7}' | sed "s,\x1B\[[0-9;]*[a-zA-Z],,g")"

For my AKS cluster, the above command gives the MASTER_URI as "https://vkubeletak-vkubelet-****.hcp.westus.azmk8s.io:443"

Using this URI during helm install gives following error while creating the pod

time="20

[2022-03-24 11:37] andyzhangx commented on #88
Azure File in-tree driver is already deprecated on AKS 1.21, any progress on this?

[2022-03-29 15:17] Socolin opened #191 "Upgrade node version to 1.21 ?"
Hello,

In my AKS cluster all my nodes are upgraded to the 1.21 version but tue virtual nodes are still at 1.19, is there any plan to upgrade this to the latest version ?

![image](https://user-images.githubusercontent.com/539620/160645525-2fedd661-d3d9-45a8-895d-c0a08fe97889.png)

[2022-04-13 22:34] ryanzhang-oss commented on #88
@helayoty will work on this

[2022-04-13 22:36] helayoty commented on #88
/assign

[2022-04-18 15:10] helayoty opened #194 "add CONTRIBUTING guideline"
To follow --> https://github.com/virtual-kubelet/virtual-kubelet/blob/master/CONTRIBUTING.md

[2022-04-18 15:12] helayoty opened #195 "Add ACI Spot virtual nodes support to virtual kubelet"

[2022-04-20 14:32] helayoty opened #196 "Move pipelines to github actions"
The current pipelines are split between `circleci` and `azdo`.

- [x] Move `circleci` to Github actions
- [x] Create e2e-tests Github actions

[2022-04-20 17:20] helayoty opened #197 "Update code base to use Azure golang SDK instead of custom client"
Azure SDK hasn't supported container instances when the team started the project. They had to write a [custom](https://github.com/virtual-kubelet/azure-aci/tree/master/client) wrapper for the APIs.

We need to replace the custom client with the current [Azure golang SDK](https://github.com/Azure/azure-sdk-for-go/tree/main/services/containerinstance)

[2022-04-27 00:34] ktumu0225 commented on #18
Any updates on this yet? We are eagerly waiting for this feature as we can run a lot of our workloads that needs init containers hosted in AKS on Virtual Nodes.

[2022-05-04 19:32] ksaur opened #198 "Error with file.csi.azure.com"
Hello,

I am unexpectedly hitting the "else" case in [aci.go](https://github.com/virtual-kubelet/azure-aci/blob/01fd157163f42040d9a378be52a974afde6c8d6b/provider/aci.go#L1682) with `if v.CSI.Driver == AzureFileDriverName`.

The error message I get is:
[code]
which leads me to believe that the type `v.CSI.Driver` is null, as nothing is printed based on the error message:

[code]

When I do `k descr

[2022-05-04 19:43] ksaur commented on #198
Seems related to  #193?

[2022-05-04 19:49] helayoty commented on #198
Hey @ksaur, the feature is not available yet. It should be ready in the next release.

[2022-05-16 14:53] ModernRonin opened #201 "beta.kubernetes.io/os deprecated"
Hi,

when using the nodeSelector with `beta.kubernetes.io/os`, AKS/k8 complains:

[Microsoft's documentation](https://docs.microsoft.com/en-us/azure/aks/use-labels#deprecated-labels) also states that the beta version of the label is scheduled for removal by 1.24.

Is this on your radar?
And how does this play with updates: eventually, we will have to update the kubelet to a newer version. But if t

[2022-05-19 14:32] mmontesi commented on #201
Same concern here.
As @ModernRonin said 1.24 it's not so far away...
Maybe we could label the virtual node with the new annotation and accordingly update the nodeSelector in our deployments, but I'd like an out-of-the-box solution.
Is that planned?

[2022-05-23 10:18] aneran01 opened #202 "virtual-kubelet helm install for AKS with user managed identity results in virtual-kubelet pod restarting with identity not found error"
### virtual-kubelet helm install for AKS with user managed identity results in virtual-kubelet pod restarting with identity not found error

We are trying to deploy virtual-kubelet helm package on AKS cluster to provision virtual node and test out scaling on same.
Doing same using terraform with aci_connector_linux does work smooth after assigning roles to the user managed identity which gets crea

[2022-06-03 14:01] hWorblehat commented on #91
I would like this too, for using tekton. Again, appears to be a showstopper right now.

[2022-06-06 19:48] helayoty opened #203 "Replace the current custom ACI sdk with the official Azure ACI SDK"
Since Azure Go SDK has been introduced, we need to replace the custom SDK in the current code with Azure [SDK](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/resourcemanager/containerinstance/armcontainerinstance).

- [x] Add SDK new dependencies #281
-  [x] Migrate provider package and all tests related
     - [x] Migrate Auth #299
     - [x] Migrate Client #301
     - [x] Migrate log an

[2022-06-10 13:09] iSplasher opened #205 "Mounting a file share with a key containing a control character fails to mount silently"
Hello, we just solved an issue after hours of debugging with not being able to mount a file share using `az container create`.
The issue is that if your `--azure-file-volume-account-key` contains a control character like so `<storage-key>\r`, the container will be created as if the storage key was correct, however, it will hang in a `Waiting` state, and after a few minutes, you start getting `Fail

[2022-06-10 13:13] iSplasher commented on #205
I think this is the wrong repo

[2022-06-10 13:13] #205 closed

[2022-07-07 01:17] #197 closed

[2022-07-07 17:05] helayoty commented on #185
duplicate #196

[2022-07-07 17:05] #185 closed

[2022-07-07 17:08] helayoty opened #217 "Add latency and availability metrics"
Add availability and latency metrics for virtual node creation/update/deletion.

[2022-07-14 06:46] zhoufenqin opened #229 "initContainer not work in ACI (AKS 1.22.6 version)"
After creating AKS in Portal with install virtual node followed by this [doc](https://docs.microsoft.com/azure/aks/virtual-nodes-portal). The initContainer not work in ACI containers. It may caused because AKS call ACI with low apiVersion. The initContainer is supported after  2019-12-01 apiVersion in ACI

# Env
AKS version: 1.22.6
nodes in AKS cluster:
[code]

Pods:
[code]

![image](https://user-

[2022-07-14 16:36] helayoty commented on #229
Hey @zhoufenqin, the `initContainer` is a work-in-progress (#204) feature and is not supported yet.

[2022-07-15 02:04] zhoufenqin commented on #229
@helayoty thank you :)  BTW, do you known the ETA of the feature, which version will includes this feature?

[2022-07-18 07:32] zhoufenqin commented on #18
+1, do you have the ETA for the feature? We need to use this feature to support our works.

[2022-07-24 13:47] joey00072 opened #242 "CrashLoopBackOff failing"
#### I am trying to build my own binary my deployment with  `CrashLoopBackOff`

[code]

for building I've clone this repo and run
[code]
than pushed that image to docker hub
and change image from helm values

Here are steps I've done after helm package
[code]

what am I doing wrong?
is there any guide for building ?

[2022-07-25 16:09] xinity opened #243 "how to mount configmap / secret to a pod running in ACI from AKS"
hello,

been validating using Azure ACI to burst my AKS worloads.
While i can easily scale my pods on my AKS nodes without issues, those pods can't be started the moment i'm adding some configmaps.

tried to remove them and the pods starts perfectly on both AKS and ACI, if i re-enable them, pods will only start on my AKS nodes.

is there any specific configuration to make it work on both with conf

[2022-07-26 04:22] joey00072 commented on #242
@helayoty Can you help me with this?

[2022-07-27 08:46] AnirudhPokala commented on #242
Its resolved by taking care of `TARGETPLATFORM` , `BUILDPLATFORM`

[2022-07-27 08:46] #242 closed

[2022-08-19 02:06] helayoty commented on #182
duplicate

[2022-08-19 02:06] #182 closed

[2022-08-19 17:02] helayoty opened #252 "Add helm documentation"

[2022-08-19 17:44] helayoty opened #253 "Add publish helm chart github action"

[2022-08-19 19:27] #252 closed

[2022-08-20 00:15] helayoty opened #255 "Add release Github Action"

[2022-08-20 00:17] #88 closed

[2022-08-20 00:24] helayoty commented on #196
closed by #207 & #215 & #251

[2022-08-20 00:24] #196 closed

[2022-08-20 00:56] #253 closed

[2022-08-20 01:26] helayoty commented on #229
No ETA for now. Hopefully this will land soon :)

[2022-08-20 01:27] #229 closed

[2022-08-20 01:32] helayoty commented on #190
@anupbarve
It seems the command above is missing`\` after`\x1B`.

Please try the following:
`export MASTER_URI="$(kubectl cluster-info | awk '/Kubernetes control plane/{print $7}' | sed "s,\x1B\[[0-9;]*[a-zA-Z],,g")"`

[2022-08-20 01:32] #190 closed

[2022-08-20 04:06] #255 closed

[2022-08-21 17:15] #217 closed

[2022-08-24 00:05] suselva opened #265 "CG create timed out with Custom DNS Config, vNet and CSI Driver"
## Issue
When a custom DNS config + vNet is passed for CG create request with CSI Driver enabled, the create times out.

## Details
If ACI receives custom DNS in the create request, it overrides the default value for DNS Server for all the containers including the sidecars. ACI will consider only the config that is provided by the user to look for the Storage to mount. The default value is the Azu

[2022-09-01 19:57] helayoty commented on #243
Hey @xinity , the current way to be able to read configmaps while using `Virtual-Kubele`/`azure-aci` is to mount the configmap as a volume.

ref: https://github.com/virtual-kubelet/azure-aci/blob/master/provider/aci.go#L1777

[2022-09-01 19:59] #243 closed

[2022-09-01 21:47] helayoty opened #282 "Image tag for e2e tests needs to be unique"
Currently, the image tag is the same.

[2022-09-01 21:59] helayoty opened #283 "Image should be deleted after e2e-test pipeline"
The current GitHub action is not working for the organization/repo setup.

[2022-09-01 22:31] helayoty commented on #112
@srrengar @feiskyer What is the status for this issue?

[2022-09-01 23:03] helayoty commented on #120
@Romiko Kindly feel free to reopen the issue with more details for the `kube-dns` manifest.

[2022-09-01 23:03] #120 closed

[2022-09-01 23:05] helayoty commented on #91
https://github.com/virtual-kubelet/virtual-kubelet/issues/1032

[2022-09-01 23:09] helayoty commented on #131
@aramase @feiskyer What is the status of this issue?

[2022-09-01 23:11] helayoty commented on #148
duplicate #91

[2022-09-01 23:11] #148 closed

[2022-09-06 16:40] aramase commented on #131
Please see announcement here: https://github.com/Azure/aad-pod-identity#aad-pod-identity. We're no longer making any feature changes in AAD Pod Identity.

❗ IMPORTANT: As mentioned in the [announcement](https://cloudblogs.microsoft.com/opensource/2022/01/18/announcing-azure-active-directory-azure-ad-workload-identity-for-kubernetes/), we are planning to replace AAD Pod Identity with [Azure Workloa

[2022-09-06 19:46] helayoty commented on #131
@aidapsibr Closing the issue as per @aramase recommendation to use [Azure Workload Identity](https://github.com/Azure/azure-workload-identity) instead.

[2022-09-06 19:46] #131 closed

[2022-09-09 04:14] #282 closed

[2022-09-09 04:14] #283 closed

[2022-09-09 07:59] #186 closed

[2022-09-09 07:59] #184 closed

[2022-09-09 23:17] suselva commented on #265
PR is merged.

[2022-09-09 23:17] #265 closed

[2022-09-14 20:47] helayoty commented on #198
Closing as the new release `v1.4.4` should fix the issue

[2022-09-14 20:47] #198 closed

[2022-09-14 20:47] #72 closed

[2022-09-14 21:15] helayoty commented on #181
@letmaik Thanks for reaching out.  Storage V2 is supported when using `virtual-kubelet/azure-aci`. Please let us know if you encounter any issues with that.

[2022-09-14 21:16] #179 closed

[2022-09-27 02:53] helayoty opened #302 "Support secrets-store.csi.k8s.io volume"

[2022-09-27 14:56] tmcmm opened #303 "Virtual Kubelet Node is not capable of running pods throwing "DuplicateVolumes": Duplicate volumes 'kube-api-access-sndws' are found"
Since yesterday applicational pods stopped running throwing the following error:
[code]

**Explanation:**
By default, a Pod is associated with a service account, and a credential (token) for that service account is placed into the filesystem tree of each container in that Pod, at /var/run/secrets/kubernetes.io/serviceaccount/token.
If available, a certificate bundle is placed into the filesystem t

[2022-09-27 15:47] asankaf commented on #303
I have also noticed that as of the current version, we can't seem to have multiple volume mounts. I tried mounting one EmptyDir volume for logging purposes and one Azure File Share volume for storage purposes, but it throws the same weird "DuplicateVolume" ProviderFailed exception during the deployment.

[2022-09-28 21:32] helayoty commented on #303
@tmcmm @asankaf Thanks for reaching out, we are preparing a hotfix to solve this issue asap.

[2022-09-29 14:23] ayelencasamassa commented on #303
OMG! i thought i was crazy since I'm having the same issue since monday and I can't find any solution apart from disabling all volumes mount on my deployment. Please, find a solution soon :(

[2022-09-29 17:24] helayoty commented on #303
Kindly refer to the downgrade steps [here](https://github.com/virtual-kubelet/azure-aci/blob/master/docs/DOWNGRADE-README.md) to go back to Release 1.4.1 until the fix rolls out.

[2022-10-03 15:29] ayelencasamassa commented on #303
That step-by-step didn't work well... Anyway, I managed to downgrade the ACI version to 1.4.1 in my cluster and the issue is gone. Please, let us know when version 1.4.4 or newer is ready.

[2022-10-04 19:26] helayoty opened #314 "Use ACI APIs to get regions"
- [ ] azure-aci
- [ ] AKS

[2022-10-05 17:55] helayoty commented on #303
As mentioned in the steps, `the client id of the aciconnectorlinux-XXXX managed identity in the MC_XXXX resource group.`

[2022-10-06 04:25] nakazonot commented on #303
understood. It means that there is aciconnectorlinux-XXXX in the MC_XXXX resource group.
However, there was no aciconnectorlinux-XXXX. (There is aks-agentpool-XXXX-nsg and aks-nodepool1-XXXX-vmss.)

It's strange that virtual-node-aci-linux is enabled.

[2022-10-06 16:03] helayoty commented on #303
You'll need to give the downgrade node another name than the one created by AKS to prevent the auto-update.

[2022-10-06 17:12] ayelencasamassa commented on #303
checked! seems like it's working.. at least the pod is alive.
I will test the functionality.
Thanks @helayoty, you rock it!

[2022-10-06 17:28] #303 closed

[2022-10-07 01:18] nakazonot commented on #303
@helayoty @ayelencasamassa Thanks! Upgraded and working fine now.

[2022-10-07 23:42] #194 closed

[2022-10-13 04:02] nakazonot commented on #147
Is there a plan to resolve the issue?
The problem continues in v1.4.5.

[2022-10-13 16:41] #181 closed

[2022-10-13 16:42] helayoty commented on #189
@fnuarnav would take a look please?

[2022-10-13 19:55] helayoty opened #338 "Remove k8s node once VK got uninstalled"
**Describe the request**
the current code doesn't delete the VK node if VK helm is uninstalled, shouldn't we delete the node as well?

A placeholder for investigation.

[2022-10-20 21:39] ayelencasamassa opened #347 "AKS virtual node monitor"
**Describe the Issue**
Pods created on virtual node don't report logs to Monitor

**Steps To Reproduce**
AKS with virtual nodes

**Expected behavior**
Check logs on WorkSpace (Azure Monitor)

**Virtual-kubelet version**
latest

**azure-aci plugin version**
latest

**Kubernetes version**
latest

**Additional context**
Using Terraform as IaC

[2022-11-01 22:19] helayoty opened #351 "Different pod status other than success/failure"
1. In case the pod has an init container or any other pod spec that has invalid input, should we change the Pod status to indicate the error and avoid repeatedly reconciling the same Pod with the wrong configuration? Note that the init container fields are immutable so it is ok for us to stop reconciling the Pod with unsupported specs since the user has to recreate the Pod to fix the problem.

[2022-11-02 17:15] helayoty commented on #347
@ayelencasamassa Can you please confirm if this issue still happening in the release `v1.4.6`? If yes, would you please add the details in the issue description?

[2022-11-02 17:25] ayelencasamassa commented on #347
@helayoty Seems like logs for ACI are stored in a different table, a custom table on Log Analytics Workspace. By default, AKS is checking in non-ACI log table.
Do you know if this will fix soon?

[2022-11-02 21:25] helayoty commented on #347
Kindly provide the following information to be able to do more investigation:

**Describe the Issue**

**Steps To Reproduce**

**Expected behavior**

**Virtual-kubelet version**

**azure-aci plugin version**

**Kubernetes version**

[2022-11-04 16:24] ttq-ak opened #354 "SIGSEGV errors after upgrading to v1.4.6"
**Describe the Issue**
At ~6pm on 03/11/22 our AKS addon `virtual-node` image was updated to run v1.4.6. From that point onwards the aci-connector-linux-* pod inside the aci-connector-linux deployment keeps crashing with a stack trace like below:
![image (5)](https://user-images.githubusercontent.com/83716750/200024612-ba8167c3-0a35-418f-87cb-e3aa4cf10ffa.png)

[code]

**Steps To Reproduce**
In ou

[2022-11-09 03:50] Fei-Guo opened #360 "Add build version in vnode version"
**Describe the Issue**

Currently, the build version in N/A in the node version field. We should consider incorporating the git commit number in the vnode build version.

[2022-11-09 03:54] Fei-Guo opened #361 "Update azure-aci K8s API version to 1.24."
**Describe the Issue**

Currently, the azure-aci depends on K8s 1.19 APIs which are pretty old. We should update API dependency to the latest 1.24 to rule out any major Pod API incompatibility.

[2022-11-10 00:06] Andycharalambous commented on #28
Any progress on this at all yet? It's over 2 years since the last update.

[2022-11-10 05:17] helayoty commented on #28
Hey @Andycharalambous , we will start working on it soon, no ETA yet.

[2022-11-11 21:31] helayoty commented on #338
More details https://github.com/Azure/AKS/issues/2091#issuecomment-787579240

[2022-11-14 21:21] #354 closed

[2022-11-15 23:04] helayoty opened #366 "Determine the right size for command line window"
**Describe the request**

**Explain why azure-aci Plugin needs it**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-11-18 16:20] ayelencasamassa commented on #347
**Describe the Issue**
Pods created on virtual node don't report logs on AKS since those logs are stored in a custom table

**Steps To Reproduce**
AKS with virtual nodes

**Expected behavior**
See logs when I access with AKS GUI

**Virtual-kubelet version**
1.4.5

**azure-aci plugin version**
?

**Kubernetes version**
1.24.6

[2022-11-18 16:27] ayelencasamassa opened #372 "AKS with virtual nodes is not working"
**Describe the Issue**
I have created an AKS cluster with virtual nodes addon enabled but the node is never created and pods can't be scheluded

**Steps To Reproduce**
Create an AKS cluster with virtual nodes enabled

**Expected behavior**
Can check the virtual node

**Virtual-kubelet version**
latest

**azure-aci plugin version**
latest

**Kubernetes version**
1.24.6

**Additional context**
No

[2022-11-18 17:08] ayelencasamassa commented on #372
MS creates the cluster with version 1.4.6 by default... seems like that version is not working.
I forced version 1.4.7 and, at least, now i can see the virtual node.
I didn't test it yet but I need to solve the problem with versions.
When version 1.4.7 will be released to MS?

[2022-11-18 17:17] helayoty commented on #372
@ayelencasamassa  Thanks for reporting the issue, the issue should be fixed in the latest version 1.4.7, it will take a while till this change is rolled out to all regions. To unblock you, kindly follow the [downgrade](https://github.com/virtual-kubelet/azure-aci/blob/master/docs/DOWNGRADE-README.md) document.

[2022-11-18 17:21] ayelencasamassa commented on #372
Heba, version 1.4.5 can't be deployed. It fails.
The only option now is forcing v.1.4.7 by Helm.
How is the process of releasing a new version? Is there any kind of notification?
This is the second time I have issues with this (v1.4.4 and now 1.4.6) and my cluster was seriously affected.

[2022-11-19 00:07] helayoty commented on #18
The feature will be ready in Release `1.5`
#204

[2022-11-19 00:07] #18 closed

[2022-11-19 00:39] helayoty commented on #146
@asipras Can you please provide more details? the pod spec, containers logs, k8s version

[2022-11-19 00:41] helayoty commented on #143
@eugen-nw I believe this issue has been solved by now as AKS supports MI and VN has been working using MI for a year.

I'm going to close this issue for now. Please feel free to reopen it if the issue still happens with the latest release.

[2022-11-19 00:41] #143 closed

[2022-11-19 00:43] helayoty commented on #149
@mainaksarcar @fnuarnav, wdyt?

[2022-11-19 00:47] helayoty commented on #163
@feiskyer @bmovva1991 would you please provide more logs if this issue still happens in the latest version?

[2022-11-19 00:49] helayoty commented on #151
@ianadavies The starting time should be better now (~20-30 sec). Also, we are working on supporting scaling. I'll close this issue and kindly feel free to reopen it or report any other issues/features.

[2022-11-19 00:49] #151 closed

[2022-11-19 00:51] helayoty commented on #140
@eugen-nw Would you please provide more info? managed identity is supported now.

[2022-11-22 16:48] ayelencasamassa commented on #372
Any news about this?
Versions 1.4.5, 1.4.6 and 1.4.7 are not working.

[2022-11-23 18:08] helayoty commented on #372
May I know the issue you're facing by using `1.4.7`?

[2022-11-23 18:38] ayelencasamassa commented on #372
Same as version 6, pods are not scheduled.
An IP is not being assigned and the services shows service endpoint error.

[2022-11-23 19:29] helayoty commented on #372
Would you please share more logs?

[2022-11-24 16:25] ayelencasamassa commented on #372
![image](https://user-images.githubusercontent.com/80763217/203829920-5dc36fe4-83f8-4e1f-89d9-bfca842fb0a0.png)

this is the command i used to deploy:

helm install "virtual-kubelet" "https://github.com/virtual-kubelet/azure-aci/raw/gh-pages/charts/virtual-kubelet-azure-aci-1.4.7.tgz"
--set provider=azure
--set rbac.install=true
--set providers.azure.targetAKS=false
--set providers.azure.aciResour

[2022-11-24 16:27] ayelencasamassa commented on #372
can we put some priority here? tomorrow will be a week since our services went down

[2022-11-28 19:09] eugen-nw opened #374 "helm v3.3.4 cannot install"
I'm trying to install the Windows VK using the `helm install "$RELEASE_NAME" "$CHART_URL"  --set provider=azure  --set providers.azure.targetAKS=true  --set providers.azure.masterUri=$MASTER_URI  --set nodeName=$NODE_NAME  --set nodeOsType="Windows"` command => `Error: failed to download "https://github.com/virtual-kubelet/azure-aci/raw/master/charts/virtual-kubelet-latest.tgz" (hint: running `hel

[2022-11-28 20:10] helayoty commented on #374
@eugen-nw did you try to follow [this](https://github.com/virtual-kubelet/azure-aci/tree/master/charts/virtual-kubelet) document?

[2022-11-28 21:17] eugen-nw commented on #374
Thanks very much, I found it myself and it did work.  However, could someone please update this document: https://github.com/virtual-kubelet/azure-aci/blob/master/README.md

[2022-11-28 21:17] #374 closed

[2022-11-28 21:44] helayoty opened #376 "Update README"
_Originally posted by @eugen-nw in https://github.com/virtual-kubelet/azure-aci/issues/374#issuecomment-1329774639_

[2022-11-29 00:54] eugen-nw opened #377 "I notice some confusion around the creation of Pods"
**Describe the Issue**
After deployments, `kubectl get pods` displays the Pods indefinitely in the 'Pending' state.  In the Azure Portal, ACI shows them 'Running' after minutes and I do see there activity being logged.  The Containers do produce the work we expect them to do.

**Steps To Reproduce**
Windows containers, running on the proper ` --set nodeOsType="Windows"` VK

**Expected behavior**
T

[2022-11-29 02:58] helayoty commented on #372
hotfix has been rolled out to the affected region.

[2022-11-29 02:58] #372 closed

[2022-11-29 02:59] helayoty commented on #347
Please let us know if you still face this issue with the release `1.4.7`.

[2022-11-29 03:22] helayoty commented on #377
@eugen-nw Thanks for contacting us, would you please share with us a sample for your pod spec and the virtual kubelet log?

[2022-11-29 14:04] ayelencasamassa commented on #372
it working now but what about the future? what is the release management policy? it was a week until i have my system back to live.

[2022-11-29 17:11] #347 closed

[2022-11-29 17:14] helayoty commented on #372
Thanks for being patient and cooperative while we were upgrading the whole service to have better performance and getting it ready for more features. we apologize for any inconvenience and hope that won't happen in the future.

[2022-11-29 17:30] eugen-nw commented on #377
What is pod spec, the Dockerfile?

Could you please instruct on how can I obtain the virtual kubelet log?

[2022-11-29 17:45] helayoty commented on #377
The pod specification yaml file that you used to deploy the workload on virtual kubelet.

- If you are using virtual kubelet as an addon via AKS, you will find a pod starting with `aci-connector-linux` running in `kube-system` namespace by running

[code]
- If you are using the helm chart, you can find the pod running on the `default` namespace.

[code]

[2022-11-29 17:55] eugen-nw opened #378 "After down-scale operations, VK leaves containers running in Azure ACI"
**Describe the Issue**
I noticed that after I use kubectl to remove Pods, `kubectl get pods` no longer shows them, but Azure ACI in the Portal shows them still up and running.  That is really wasteful because it causes us to pay for running the Containers that we already decided that we do not need.  It will be quite costly for us in the long run because we use HPA for auto scaling operations.

**

[2022-11-29 18:05] eugen-nw commented on #377
Certainly, please find the files attached.
[container-deployment.yaml.txt](https://github.com/virtual-kubelet/azure-aci/files/10115846/container-deployment.yaml.txt)
[VK.zip](https://github.com/virtual-kubelet/azure-aci/files/10115862/VK.zip)

[2022-11-29 18:28] helayoty commented on #378
@eugen-nw  Thanks for reaching out, we cannot reproduce this issue from our end and we can see the ACI instance got deleted once you delete the pod or downscale the deployment.

Kindly, can you share with us the steps to reproduce this issue and virtual kubelet logs? You can upload the required info to https://gist.github.com/ and share the link with us.

[2022-11-29 18:29] helayoty commented on #377
Would you please upload the required info to https://gist.github.com/ and share the link with us?

[2022-11-29 19:40] eugen-nw commented on #378
Please see the image below for the repro.  I checked ACI afterwards and 6 instances of "default-aks-aci-boldiq-workforce-gozen-..." were present, neither of them in a "Terminating" state.  I had to manually delete 4 of them.
![image](https://user-images.githubusercontent.com/15199814/204630616-2def8ad2-9cc3-4439-8574-eba41e45a9e1.png)

The VK.log below I generated right after running the operation

[2022-11-29 19:43] eugen-nw commented on #378
This is the exact information of the VK Pod:
[code]

[2022-11-29 19:56] eugen-nw commented on #377
Please see if you can use this gist: https://gist.github.com/eugen-nw/fd4526514a4ab6c3b9d995b0e76e9475

[2022-11-29 19:58] eugen-nw commented on #378
Please find the vk.log file in this Gist: https://gist.github.com/eugen-nw/fd4526514a4ab6c3b9d995b0e76e9475  It should have 50478 lines.

[2022-11-29 22:06] Fei-Guo commented on #377
@eugen-nw  I'd like to understand your workload a little more since you mentioned that it was working before. Do you need an IP for the workload running inside windows container? If yes, how was the IP shown before? ACI currently does not support vNet private IP for windows container so only public IP works there.

Currently, from VK's perspective, if ACI does not return an IP for the container in

[2022-11-30 13:40] eugen-nw commented on #377
@Fei-Guo  Below is the behavior that I am experiencing across two AKS instances which shows that it is possible for VK to obtain the "Running" status of a my Container from ACI.  Can't you guys repro this "Pending" status issue on your side?

I have little experience with VK, AKS, Containers,...  I did setup only 6 AKS environments over the past 3 years, all use VK to run in ACI.  This is the firs

[2022-11-30 19:10] Fei-Guo commented on #377
@eugen-nw Thanks for the reply. Actually, my question is what type of your workload is running in the ACI windows instance given that the ACI instance is not configured any vNIC with IP. Does your workload need any inbound/outbound network traffics?

I rarely see a workload that does not need networking in a container deployment. Hence the question.

[2022-11-30 20:04] eugen-nw commented on #377
Our Container gets its input from a Service Bus Queue.

[2022-11-30 20:25] Fei-Guo commented on #377
How can the application get its input from a Service Bus Queue when the windows ACI instance does not have any networking configured? Do I miss something?

[2022-11-30 21:35] eugen-nw commented on #377
I'm very sorry but I just do not know.  Can it access storage unless it does not have any networking?

It works fine on 5 other AKS clusters, only on this one it does not.  The exact same code and had been operating this way since day 1.

[2022-11-30 21:56] eugen-nw commented on #377
I start to guess where your questions originate from.  I see in VK's log messages like `time="2022-11-30T20:58:39Z" level=error msg="failed to retrieve pod aks-aci-boldiq-workforce-gozen-678d4cf57f-c8hjv status from provider" error="IPAddress cannot be nil for container group default-aks-aci-boldiq-workforce-gozen-678d4cf57f-c8hjv" method=PodsTracker.processPodUpdates node=virtual-kubelet operatin

[2022-11-30 22:19] eugen-nw commented on #377
Another guess: since the VK instance cannot communicate with the CG running in ACI, could it be that that fact is causing the behavior I reported in #378?  VK has no way of telling the CG to die, so it leaves it behind running.

[2022-11-30 22:51] helayoty commented on #302
This feature won't be supported for now as ACI team needs to support it first. it's not planned in the near future.

[2022-11-30 22:51] #302 closed